[2019-10-30 04:06] plxity commented on #2913
@mariobehling I am taking up this issue :)

[2019-10-30 04:25] plxity opened #3004 "Fix allignment in mobile view"
**Actual Behaviour**

![Screenshot from 2019-10-30 09-51-45](https://user-images.githubusercontent.com/28510494/67828923-36860980-fafb-11e9-8016-4caa19e8e917.png)

**Expected Behaviour**

The text should be properly aligned.

**Steps to reproduce it**

1) Select the speech tab in mobile view.

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

Yes, I

[2019-10-30 04:43] plxity opened #3005 "Remove scroll bar in the x-direction."
**Actual Behaviour**

![Screenshot from 2019-10-30 10-09-58](https://user-images.githubusercontent.com/28510494/67829532-91206500-fafd-11e9-94c1-945b4ffded1e.png)

**Expected Behaviour**

Remove scrollbar from the x-direction in the table. It would make the UI better

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

Yes, I

[2019-10-30 10:40] aman29271 opened #3008 "Sorting skill by Name(A-Z) is sorting in (Z-A)"
**Actual Behaviour**

Sorting Susi skill by Name(A-Z) is instead sorting in (Z-A)

**Expected Behaviour**

It should sort in Name(A-Z) order.

**Steps to reproduce it**

Go to https://susi.ai/category/All
And Select sort by to Name(A-Z).

**Screenshots of the issue**

![Screenshot from 2019-10-30 16-05-47](https://user-images.githubusercontent.com/30979779/67850981-7bc42e80-fb2f-11e9-9ff9-5ab9183f

[2019-10-30 10:57] aman29271 opened #3009 "Draft is not getting saved on Bot Page"
**Actual Behaviour**

Saving Bots as a draft is not working. It gives an API Error

**Expected Behaviour**

It should save the Bot as a draft.

**Steps to reproduce it**

Go to https://susi.ai/botWizard. Give some name to Bot and click on save as Draft

**Screenshots of the issue**

![Screenshot from 2019-10-30 16-22-44](https://user-images.githubusercontent.com/30979779/67852201-01e17480-fb32-11e

[2019-10-30 11:13] AuraOfDivinity commented on #2789
I'd like to take on this issue!

[2019-10-30 11:29] #2998 closed

[2019-10-30 18:07] #2913 closed

[2019-10-30 20:58] akshat0047 commented on #2922
I would like to do it.. @akshatnitd

[2019-10-30 21:01] akshat0047 commented on #2904
I would like to work on it @mariobehling

[2019-10-30 21:18] akshat0047 commented on #2904
I would like to take this

[2019-10-31 08:11] #2902 closed

[2019-10-31 08:58] realabbas commented on #2922
@mariobehling Claim this bug. Would like to do it

[2019-10-31 20:08] kpulkit29 commented on #2192
@harsh-jindal  Can I work on it it?

[2019-10-31 20:46] kpulkit29 commented on #2857
Since the issue creator is not replying I am starting to work on it.

[2019-11-01 06:25] harsh-jindal commented on #2192
@kpulkit29 Sure you can go ahead. But first you need to add API's in the server to proceed with this.

[2019-11-01 06:59] kpulkit29 commented on #2789
@AuraOfDivinity  if you are not working Can I take this on?

[2019-11-01 07:56] AuraOfDivinity commented on #2789
@kpulkit29  I'm sorry, already started working on it, Will let you know if I gave up on it.

[2019-11-01 14:38] snitin315 commented on #839
can I work on this issue?? @mariobehling

[2019-11-01 15:21] kpulkit29 commented on #839
@snitin315 The major work for front end part is done here. Server part is the blocker. Maybe you can work on that.

[2019-11-01 18:55] kpulkit29 commented on #839
@mariobehling  https://github.com/fossasia/susi_server/issues/592 is closed. This is the one to implement the same on server side.

[2019-11-01 19:25] vaibhavmathur13 commented on #2947
I would like to work on this

[2019-11-02 04:34] Dilshaad21 commented on #2947
Sure go ahead

[2019-11-02 05:24] Dilshaad21 opened #3012 "Tooltips for iconbuttons in create skill page"
**Actual Behaviour**

No tooltips provided for the icon buttons in create skill page

**Expected Behaviour**

Tooltips must be provided to easily identify the icon button.

**Screenshots of the issue**

![nm](https://user-images.githubusercontent.com/45489945/68066496-f32bd500-fd5e-11e9-8686-23ccf0b4660f.png)

**Would you like to work on the issue?**

Yes

[2019-11-02 06:30] Dilshaad21 opened #3014 "Raise error when empty feedback form saved in edit feedback"
**Actual Behaviour**

When empty feedback is saved in `editfeedback` no error is raised

**Expected Behaviour**

Error should be raised in that case.

**Screenshots of the issue**

![cd](https://user-images.githubusercontent.com/45489945/68067103-51a98100-fd68-11e9-8a2a-c2a17267d427.png)

**Would you like to work on the issue?**

Yes

[2019-11-02 19:08] plxity commented on #3014
@Dilshaad21 Duplicate issue #2960
and I have already raised a PR #2956. Please check.

[2019-11-02 19:51] kpulkit29 opened #3015 "Network call for every keydown(Search skill)"
**Actual Behaviour**
Currently for every keydown there is a request made to the server api when the user searches a skill

**Expected Behaviour**

There should be a debounce here as sending network call on every keydown effects the performance

**Steps to reproduce it**

- Open the homepage
- Type something in the search skill input box
- Open dev tools and notice the calls being send when you typ

[2019-11-03 09:38] aman29271 commented on #3009
There should be a notification if someone submits blank bots for saving as a draft like "Blank bots is not accepted".

[2019-11-03 15:57] akshat0047 commented on #2904
![already-fixed](https://user-images.githubusercontent.com/32462195/68087945-83157000-fe80-11e9-950a-f366c2853edd.gif)

I think this is already fixed, unable to reproduce it. We shall close this.
@iamareebjamal @akshatnitd

[2019-11-03 16:47] plxity commented on #3015
@kpulkit29 There is already a debounce of 100ms and that's fine.

[2019-11-03 16:48] plxity commented on #3008
@aman29271 are you working on this? or can I take this up?

[2019-11-03 16:53] plxity commented on #2916
@Dilshaad21 @akshatnitd  This is already fixed. We shall close this up.

[2019-11-04 17:12] kpulkit29 commented on #3015
Closing this issue as there is a debounce already.

[2019-11-04 17:12] #3015 closed

[2019-11-05 06:12] #2896 closed

[2019-11-05 14:32] snitin315 commented on #2947
@vaibhavmathur13  are you still working on this issue? if not, can i work on this issue?

[2019-11-05 17:43] plxity commented on #3008
@aman29271 I am taking this up.

[2019-11-05 17:57] plxity commented on #3008
@aman29271 That is not an issue. The arrow adjacent to dropdown shows whether it's descending or
ascending.
@akshatnitd We shall close this up.

[2019-11-05 18:13] plxity opened #3018 "Remove outline which appears after clicking on social media links."
**Actual Behaviour**

![Screenshot from 2019-11-05 23-41-08](https://user-images.githubusercontent.com/28510494/68233828-fefced00-0025-11ea-8f0a-c2eed5b48771.png)

**Expected Behaviour**

Remove outline which appears after clicking on social media links.

**Steps to reproduce it**

1) Click on social media links.

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on

[2019-11-05 18:17] plxity opened #3019 "Remove outline which appears after clicking on social media links."
**Actual Behaviour**

![Screenshot from 2019-11-05 23-41-08](https://user-images.githubusercontent.com/28510494/68233942-3e2b3e00-0026-11ea-8082-5c9bf608c224.png)

**Expected Behaviour**

Remove outline when clicked on social media links.

**Steps to reproduce it**
1) Click on social media links

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

Yes,

[2019-11-05 18:17] #3018 closed

[2019-11-06 05:36] akshatnitd commented on #3008
@pipix51 The issue is valid. The default behaviour when we select `Name(A-Z)` should be ascending.

[2019-11-06 18:12] Dilshaad21 opened #3025 "Remove unnecessary horizontal scroll in Countrywise usage"
**Actual Behaviour**

An unnecessary horizontal scroll is there in the country wise usage of susi skill.

**Expected Behaviour**

It should not overflow horizontally.

**Screenshots of the issue**

![fvd](https://user-images.githubusercontent.com/45489945/68325295-18b63700-00ef-11ea-8450-965a837b923b.png)

**Would you like to work on the issue?**
Open for first time contributors

[2019-11-07 06:31] akshatnitd opened #3026 "Show map along with the link for map type response"
**Actual Behaviour**
- Currently only the link is being shown for the map.

**Expected Behaviour**
- Show map along with the link as was shown previously.

**Steps to reproduce it**
Type `Where is Singapore?` into the chat box.

**Screenshots of the issue**
<img width="378" alt="Screenshot 2019-11-07 at 12 00 03 PM" src="https://user-images.githubusercontent.com/12656846/68365325-54381c00-0156-11e

[2019-11-07 06:48] AuraOfDivinity commented on #3026
I'll work on this issue! @akshatnitd

[2019-11-07 08:23] plxity commented on #3025
@Dilshaad21 This PR has already raised for this. #3006.
You may close this issue.

[2019-11-07 15:19] #3025 closed

[2019-11-07 15:19] Dilshaad21 commented on #3025
Ok @plxity

[2019-11-07 20:19] AuraOfDivinity opened #3028 "Improvable staff pick badge."
**Actual Behaviour**

The current staff pick badge has no context whatsoever on what it is and feels like it randomly appears on skill cards. There is also no way of checking whether the opened skill is a staff pick whilst inside separate skill page.

**Expected Behaviour**

This should not be the the case. The badge should be identifiable easily quickly.

**Screenshots of the issue**

![1](https:

[2019-11-08 15:37] akshat0047 commented on #2904
Its been reproduced now, don't  know how, on it

[2019-11-09 07:48] chauhanparth210 opened #3031 "Not able to chat"
**Actual Behaviour**
App is crash while chatting.

**Expected Behaviour**
It should not crash while chatting.

**Screenshots of the issue**
![Screenshot (58)](https://user-images.githubusercontent.com/35137224/68525019-60a5ab80-02f3-11ea-8e2f-9f2d32913dd5.png)

**Would you like to work on the issue?**
Yes

[2019-11-09 13:19] AuraOfDivinity commented on #3031
@chauhanparth210 This issue was fixed here https://github.com/fossasia/susi.ai/commit/4c14c8ce2f0c7670ea7d63fea5c26ef8c6041499 .

[2019-11-09 13:30] kpulkit29 commented on #3008
@aman29271  are you still working on it?

[2019-11-09 14:19] kpulkit29 opened #3033 "Footer not properly aligned on mobile"
**Actual Behaviour**

The Footer links are not properly aligned on mobile

**Expected Behaviour**

The links should be aligned in columns

**Screenshots of the issue**
![Screenshot 2019-11-09 at 7 47 07 PM](https://user-images.githubusercontent.com/20151526/68529965-0411b300-032a-11ea-8afa-ca353646a526.png)

**Would you like to work on the issue?**

Yes

[2019-11-09 17:17] aman29271 commented on #3008
@kpulkit29 yes

[2019-11-10 06:59] poojagl85 commented on #3033
Can I work on this issue?

[2019-11-10 08:24] chauhanparth210 commented on #3031
@AuraOfDivinity   thank you and I am closing this issue.

[2019-11-10 08:24] #3031 closed

[2019-11-10 08:26] kpulkit29 commented on #3033
I am still working on it

[2019-11-10 08:37] poojagl85 commented on #3033
![opensource](https://user-images.githubusercontent.com/53204850/68541274-5d79f080-03c3-11ea-9376-4187c52a4096.png)
I tried to resolve it.

[2019-11-10 08:55] poojagl85 commented on #3033
I
![footer](https://user-images.githubusercontent.com/53204850/68541471-edb93500-03c5-11ea-9236-e8e498bba0dc.png)
 tried it.

[2019-11-10 09:05] kpulkit29 commented on #3033
@poojagl85  I will make a PR later. You can definetely start working on it if I am not.

[2019-11-10 11:11] poojagl85 opened #3034 "cards in the skills section in home page are not aligned vertically in mobile view"
**Actual Behaviour**

Cards in the skills section in home page are not aligned vertically in mobile view

**Expected Behaviour**

Cards has to be aligned vertically in mobile view.

**Screenshots of the issue**

![skills](https://user-images.githubusercontent.com/53204850/68543116-f1a28280-03d8-11ea-8c17-06378d82fd86.png)

**Would you like to work on the issue?**

Yes

[2019-11-10 14:30] akshatnitd commented on #2082
The expected behaviour somewhat looks like this -
- We read the value of theme from Redux store.
- We have constants for light and dark theme as follows -
[code]
- We set the colour of Material UI components based on the colours of the selected theme by using `createMuITheme`.
- This theme is passed onto the root `MuiThemeProvider` component.

[2019-11-10 14:31] akshatnitd commented on #2135
Closing as #2082 is a similar issue.

[2019-11-10 14:31] #2135 closed

[2019-11-10 15:28] Shruti6814 commented on #2947
@snitin315  Are you still working on it? Can I work on it if you are not working on it now.

[2019-11-10 15:32] vaibhavmathur13 commented on #2947
@Shruti6814 I'm already working on this issue.

[2019-11-10 15:32] snitin315 commented on #2947
@Shruti6814 , @vaibhavmathur13  has already made PR for this issue. Now the discussion is moved there. He is working on the issue.

[2019-11-12 01:41] #3034 closed

[2019-11-12 03:34] AuraOfDivinity opened #3037 "Erroneous warning text in Sign Up form"
**Actual Behaviour**

In the Sign Up form, the parts of the warning text should not be shown once the user enters a correct password. For example in the following image, the "at least 8 characters are required" part should be removed since the entered password is already more than 8 characters long.

![image](https://user-images.githubusercontent.com/31003923/68639484-badc8180-052a-11ea-9451-960eb

[2019-11-12 07:13] AuraOfDivinity opened #3039 "Videos played on the chat are too small."
**Actual Behaviour**

Currently when a video is played using play command in the chat, the resulting video component displaying the video is too small.

**Expected Behaviour**

Display the video is a separate larger popup or enlarge the chat when a video is playing(if the screen size permits it).

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/31003923/68650026-08

[2019-11-12 07:23] #2961 closed

[2019-11-12 07:49] #3028 closed

[2019-11-12 08:08] #3005 closed

[2019-11-12 09:04] #2808 closed

[2019-11-13 11:23] poojagl85 opened #3046 "The dropdown icon and the EN are overlapping a bit in mobile view."
**Actual Behaviour**
The dropdown icon and the EN are overlapping a bit in mobile view.
![WhatsApp Image 2019-11-13 at 16 46 44](https://user-images.githubusercontent.com/53204850/68759572-f44de380-0635-11ea-8cbe-b5a0704e452b.jpeg)

**Expected Behaviour**

Font-size of EN should be made smaller aur the box should be made bigger.

**Would you like to work on the issue?**

Yes

[2019-11-13 12:35] AuraOfDivinity opened #3048 "Search bar close button not appearing in small mobile views."
**Actual Behaviour**

The search bar close button is not appearing in small mobile views. (Sizes < 350)

**Screenshots of the issue**

![1](https://user-images.githubusercontent.com/31003923/68764156-26fcd980-0640-11ea-8f13-7e56b1105f29.png)

**Would you like to work on the issue?**

Yes

[2019-11-14 11:55] DhananjayPurohit opened #3051 "Padding between page no. and navigation arrows."
**Actual Behaviour**

No padding between page no. and navigation arrows.

**Expected Behaviour**

Padding should be provided for better user experience

**Screenshots of the issue**

![Screenshot (92)](https://user-images.githubusercontent.com/44242169/68855169-b1f2d800-0703-11ea-832f-d0cf462f1372.png)

**Would you like to work on the issue?**

Yes

[2019-11-14 18:25] #3046 closed

[2019-11-14 18:44] #3003 closed

[2019-11-14 18:52] #3012 closed

[2019-11-14 19:38] #3051 closed

[2019-11-15 04:16] poojagl85 opened #3055 "The link in the the verification email opens to page where the text is not properly aligned."
**Actual Behaviour**

The link in the the verification email opens to page where the text is not properly aligned in mobile view.

**Expected Behaviour**

The text should be center aligned

**Screenshots of the issue**

![WhatsApp Image 2019-11-15 at 07 49 57](https://user-images.githubusercontent.com/53204850/68916627-c7f8ab00-078c-11ea-9a49-2c190942343d.jpeg)

**Would you like to work on the iss

[2019-11-15 04:25] poojagl85 opened #3056 "The profile icon should be placed at extreme left instead of center."
**Actual Behaviour**

The profile icon should be placed at extreme left instead of center once the user is logged in. It looks weird in center.

**Expected Behaviour**

The profile icon should be placed at extreme right.

**Screenshots of the issue**

![Screenshot_20191115-075235_Chrome](https://user-images.githubusercontent.com/53204850/68916921-1490b600-078e-11ea-9510-c821b2bc1801.jpg)

**Would

[2019-11-15 06:05] #2948 closed

[2019-11-15 06:47] AuraOfDivinity opened #3057 "Filter by avg. customer rating not available in mobile view"
**Actual Behaviour**

Currently filtering by the avg. user rating is not available in mobile views.

**Expected Behaviour**

All forms of filtering available in the web view must be available in the mobile view.

**Screenshots of the issue**

![2](https://user-images.githubusercontent.com/31003923/68922535-e321e580-07a1-11ea-9850-cdc6ff2898ab.png)

**Would you like to work on the issue?**

Yes

[2019-11-15 07:03] DhananjayPurohit opened #3058 "Display of star rating is incorrect"
**Actual Behaviour**

The display of number of stars is different from number of stars mentioned label.

**Expected Behaviour**

The display of number of stars should be same with number of stars mentioned in label.

**Steps to reproduce it**

Hover on stars of rating on any skill.

**Screenshots of the issue**

![Screenshot (95)](https://user-images.githubusercontent.com/44242169/68923291-f6ce4b8

[2019-11-15 08:52] #3004 closed

[2019-11-15 12:09] AuraOfDivinity opened #3059 "Next and Previous buttons of the blog not displayed."
**Actual Behaviour**

The Next and previous buttons (implemented in the index.js) of the blog aren't displayed as expected and because of this the users are unable to navigate/view older blog posts as expected.

**Expected Behaviour**

Users should be able to view all the blog posts that have been published.

**Screenshots of the issue**

(Notice no Previous or Next Fab buttons in the bottom)
![No

[2019-11-15 12:45] Dilshaad21 commented on #3014
Ok @plxity closing pr...

[2019-11-15 12:45] #3014 closed

[2019-11-15 19:16] kpulkit29 opened #3063 "React content Loader instead of spinner in home page"
**Actual Behaviour**

Currently until the skill cards are being loaded spinner is shown It would be a good feature if react- content-loader is shown just like Youtube, Facebook do. Also, since susi.ai has cards on home page content-loader will be better user experience. Refer to https://github.com/danilowoz/react-content-loader

**Expected Behaviour**

React content Loader would be better UI/UX

*

[2019-11-15 19:22] kpulkit29 commented on #3063
@akshatnitd I think it would be a good feature addition. Would like to know your opinion regarding the same.

[2019-11-16 14:02] kpulkit29 opened #3066 "Select timeout should be material ui select tag format"
**Actual Behaviour**
Select timezone option does not use Material UI menu item

**Expected Behaviour**

Select timezone option should use Material UI menu item just like other similar options in settings tab use.

**Screenshots of the issue**
![Screenshot 2019-11-16 at 12 53 48 AM](https://user-images.githubusercontent.com/20151526/68994327-b8ba5000-08a7-11ea-91ff-291b30078f60.png)

**Would you li

[2019-11-16 16:57] Dilshaad21 opened #3067 "Display proper message when skill details are not provided"
**Actual Behaviour**

Currently the alert message which displays when no skill_name is given to the skill is `Please select a group, language and a skill`.

**Expected Behaviour**

It should just prompt the user to give name to the skill.

**Screenshots of the issue**

![immm](https://user-images.githubusercontent.com/45489945/68996450-2e321a80-08c0-11ea-8464-4f13aad62c81.png)

**Would you like to

[2019-11-17 03:52] guptarohan811 opened #3069 "Compilation error upon npm run while local hosting the server"
**Actual Behaviour**

The page shows compilation error upon running the susi ai on local host using "npm run start" due to files missing. Problem still persistent upon several re installations. Can anyone please help @akshatnitd

**Expected Behaviour**

Should have run successfully on local host without error.

**Screenshots of the issue**

![Screenshot from 2019-11-17 09-19-45](https://user-image

[2019-11-17 10:12] Dilshaad21 opened #3070 "Pagination needed only when it exceeds a certain limit"
**Actual Behaviour**

Currently, pagination appears unnecessarily even though feedbacks can be displayed in that single page.

**Expected Behaviour**

It should appear only when the total feedbacks exceeds the limit to fit within a page.

**Screenshots of the issue**

![cdcd](https://user-images.githubusercontent.com/45489945/69006116-c081ff00-0950-11ea-97de-788e6c20f2a0.png)

**Would you like to

[2019-11-17 12:49] poojagl85 opened #3072 "Vedios on the about page are not getting played in mobile view."
**Actual Behaviour**

Vedios on the about page are not getting played in mobile view. It is showing in inspect but not in the phone. Either their is a blank space or a black screen instead of vedio.
[(https://susi.ai/about)]

**Expected Behaviour**

The vedios should play in mobile view as well.

[(https://susi.ai/about)]

**Screenshots of the issue**

![WhatsApp Image 2019-11-17 at 18 11 57](http

[2019-11-17 13:36] #2949 closed

[2019-11-17 14:04] #3001 closed

[2019-11-17 14:13] #3055 closed

[2019-11-17 14:26] #2947 closed

[2019-11-17 14:29] poojagl85 opened #3073 "Many images on the /blog page are only half visible in mobile view."
**Actual Behaviour**

Many images on the [https://susi.ai/blog] page are only half visible in mobile view.

**Expected Behaviour**

Images should be completely visible in mobile view.

**Screenshots of the issue**
Only some screenshots I have shown but their are many. Need to make the images mobile responsive.
![image1](https://user-images.githubusercontent.com/53204850/69008811-b114ad00-0974-11ea

[2019-11-17 17:57] kpulkit29 commented on #3063
@akshatnitd would like to proceed with this if  you also feel it would be a good feature to add.

[2019-11-17 19:20] kpulkit29 opened #3074 "Direct use of localStorage"
**Actual Behaviour**

Currently in the code window.localStorage is being used directly but this can throw error when user can disabled local storage. Moreover using it directly is not advisable refer to https://michalzalecki.com/why-using-localStorage-directly-is-a-bad-idea/

**Expected Behaviour**
A local storage service should be made which handles all the errors in try/catch.
**Screenshots of t

[2019-11-18 06:58] AdityaSrivast commented on #3069
@guptarohan811 did you try running `npm install` before starting the server? It may be possible because of missing dependencies.

[2019-11-18 07:24] guptarohan811 commented on #3069
Yeah i have followed all the steps given in the docs

[2019-11-18 16:35] anishagg17 opened #3077 "Error Occurs while compiling"
**Actual Behaviour**

during compilation it throws an error

**Expected Behaviour**

It should automatically run

**Steps to reproduce it**

Compile the application

[2019-11-18 18:45] #3077 closed

[2019-11-19 04:10] anishagg17 commented on #3058
May i work over this issue?

[2019-11-19 06:06] #2857 closed

[2019-11-19 06:31] DhananjayPurohit commented on #3058
I am working on it. @anishagg17

[2019-11-19 06:33] anishagg17 commented on #3058
ok no problem @DhananjayPurohit

[2019-11-19 16:45] snitin315 commented on #2885
I will work on this issue.

[2019-11-19 20:26] DhananjayPurohit commented on #3058
Can I make any changes to the files in node_modules folder?

[2019-11-20 05:24] #3039 closed

[2019-11-20 05:31] #2989 closed

[2019-11-20 12:33] himanshu010 opened #3079 "icons on chat window should have a title"
**Actual Behaviour**

The icons on the chat window does not have a title and they doesn't show title on hovering
**Expected Behaviour**

screenshot:
![Screenshot (61)](https://user-images.githubusercontent.com/43860289/69239003-42775f80-0bbf-11ea-90a7-7bf8368c9ab1.png)

**Steps to reproduce it**

1. Go to https://susi.ai/
2. Click on chat button
3. Hover on search or fullscreen icon

**Would you l

[2019-11-20 14:36] #3026 closed

[2019-11-20 18:15] Dilshaad21 opened #3081 "No warning messages when empty bot_name field is given"
**Actual Behaviour**

Currently in `Add a new skill to your bot` page new bot gets created without a bot_name.

**Expected Behaviour**

A `warning` message must be given when empty fields are getting submitted.

**Screenshots of the issue**

![final_5dd581766c42b80013bfc1f0_91560](https://user-images.githubusercontent.com/45489945/69265595-84b89500-0bef-11ea-9f16-9513363eb0b8.gif)

**Would you lik

[2019-11-21 07:32] anishagg17 opened #3082 "Unusual categories shown which don't have any skill related to them"
**Actual Behaviour**

![Hnet-image](https://user-images.githubusercontent.com/43617894/69316495-f67bf780-0c5e-11ea-84df-5001f6b14e8f.gif)

Categories which don't match any skills are shown

**Expected Behaviour**

Categories with no Skills should not be displayed

**Steps to reproduce it**

click on categories in sidebar

**Would you like to work on the issue?**
Yes

[2019-11-21 07:39] anishagg17 opened #3083 "Refine by rating isn't working"
**Actual Behaviour**

![Hnet-image](https://user-images.githubusercontent.com/43617894/69316992-f8928600-0c5f-11ea-8db1-414e9534a30f.gif)

Refine by Avg. Customer Review feature of sidebar isn't showing any skill

**Expected Behaviour**

skills with relevant ratings should be shown

**Steps to reproduce it**

select any filter underneath  Avg. Customer Review section

**Would you like to work on t

[2019-11-21 12:33] paras151 commented on #3079
I am new to opensource , I would like to take up this issue

[2019-11-21 14:06] himanshu010 commented on #3079
@paras151 okk you can take it

[2019-11-21 17:19] #3067 closed

[2019-11-22 12:09] anishagg17 opened #3086 "Dark Mode?"
Do we need Dark mode?

**Would you like to work on the issue?**

YES

[2019-11-22 17:53] iharshit009 commented on #3083
It's working fine here @anishagg17

[2019-11-22 17:54] kpulkit29 commented on #3086
@anishagg17 There are similar issues open already.

[2019-11-22 18:05] #3083 closed

[2019-11-22 18:21] iharshit009 commented on #3082
It's also working fine @anishagg17, I think there may be some dependencies issue in you code structure.

[2019-11-22 18:54] iharshit009 opened #3087 "Not landing into 1st page of search results"
**Actual Behaviour**

The pages remain the same even if the search results are varied.

**Expected Behaviour**

On varying the search results, it should land on page 1 of search results.

**Steps to reproduce it**
Go to particular rating results and change the page, after that try to change the rating and check out the result page.

**Screenshots of the issue**

![Screencast-from-Saturday-23-Novem

[2019-11-23 03:15] maze-runnar opened #3088 "alignment of buttons is not proper in mobile"
**to reproduce**
go to "http://localhost:3000/about" scroll down
**Screenshots of the issue**
![Screenshot from 2019-11-23 08-41-50](https://user-images.githubusercontent.com/56407566/69472239-7e800f80-0dcd-11ea-8df0-c225e95f1312.png)

**Would you like to work on the issue?**
yes

[2019-11-23 03:35] maze-runnar opened #3089 "creator of skill should not be able to rate his own skill"
creator of skill should not be able to rate his own skill

![Screenshot from 2019-11-23 08-55-28](https://user-images.githubusercontent.com/56407566/69472427-43cba680-0dd0-11ea-9250-9176dc5cc613.png)

**Would you like to work on the issue?**
yes

[2019-11-23 12:09] #2997 closed

[2019-11-23 12:20] #3074 closed

[2019-11-23 15:41] #3086 closed

[2019-11-24 18:58] kpulkit29 commented on #3070
But the button are disabled, isn't it self-explanatory

[2019-11-25 20:10] kpulkit29 opened #3091 "Rating & timestamp sort not working"
**Actual Behaviour**
Rating & timestamp sort not working in my rating sections

**Expected Behaviour**

Rating & timestamp sort should in ascending or descending order.

**Steps to reproduce it**

1. Open susi.ai homepage
2. Navigate to Dashboard
3. In my rating sections click on rating or timestamp arrow

**Would you like to work on the issue?**
Yes

[2019-11-26 18:45] paras151 opened #3093 "Improper alignment of message when "no skill is found""
**Actual Behaviour**

When a user searches for a skill and the skill with the name searched is not found then following message is displayed.

![Screenshot (8)](https://user-images.githubusercontent.com/47773353/69662380-479a4a00-10aa-11ea-8d79-e67e9f306f7c.png)

We can see that the alignment of the 2 bulletted points is not correct.

**Expected Behaviour**

The 2 bulletted points should be aligne

[2019-11-27 06:40] kushaggarwal commented on #3079
I am new to open source and want to contribute
I would like to resolve this issue if unsolved
please help thanks

[2019-11-27 07:21] paras151 commented on #3079
Well Kush, I've already made a pr regarding this issue,I am sure you can find many other isuues.

[2019-11-27 10:35] kushaggarwal commented on #3079
Okay Thanks

[2019-11-27 11:28] himanshu010 commented on #3079
@paras151 Nice work

[2019-11-27 11:55] Pep-DEV101 commented on #3089
May i work on it

[2019-11-27 13:17] paras151 commented on #3089
I need help in getting the the username of the logged in user using his email or vice-versa.Is there any api which i can use ? Please help/

[2019-11-27 13:58] paras151 commented on #2730
Has this issue been completed

[2019-11-27 18:37] kpulkit29 commented on #3057
@AuraOfDivinity are u still working on this?

[2019-11-28 17:15] maze-runnar opened #3095 "Buttons are overflowing out of div in mobile-view"
Steps to reproduce :
 Go to : https://susi.ai/botWizard
Switch to mobile view And see error .
![Screenshot from 2019-11-28 22-42-28](https://user-images.githubusercontent.com/56407566/69824020-a5589e80-1230-11ea-8145-5e5104585d7d.png)

**Would you like to work on the issue?**

yes

[2019-11-28 17:25] #3079 closed

[2019-11-30 11:41] kushaggarwal commented on #3095
Hey is this issue still open

[2019-11-30 13:22] maze-runnar commented on #3095
@kushaggarwal  i am on it  .

[2019-11-30 21:54] ABHIJITBURMAN commented on #3093
@paras151 Yes, would definately like to work on this issue.

[2019-12-01 09:34] paras151 commented on #3093
Well, I've already made a pull request request regarding this issue

[2019-12-01 18:55] rajat2502 opened #3096 "Fix the Sidebar"
**Actual Behaviour**
The sidebar should be fixed as when the main content of the page is large then to navigate using sidebar the user has to scroll to the top and then find the respective link.

**Expected Behaviour**
The sidebar should be fixed and made scrollable.

**Screenshots of the issue**
![image](https://user-images.githubusercontent.com/42200276/69918591-ffa86800-1499-11ea-8758-2a3f80acc

[2019-12-02 13:06] paras151 commented on #3093
Can anyone please review and comment if this is a valid issue or not @AuraOfDivinity @kpulkit29

[2019-12-02 14:57] paras151 commented on #2978
Has this issue been solved?
If not can i work on thsis?

[2019-12-02 19:17] kpulkit29 commented on #2978
@paras151 This issue would be solved when dark mode is integrated with createMUITheme. So it is kind of a duplicate issue. I would close this issue

[2019-12-02 19:19] kpulkit29 commented on #3093
@paras151 The bullet points in the no skill found message are not aligned properly so I believe you can work on it.

[2019-12-04 15:23] Sid911 opened #3097 "Dashboard mobile scaling issue"
**Actual Behaviour**

There is a weird scroll area inside the dashboard where bots are displayed and the scalling of these sections's content in mobile isn't that good.
There is a lot area being wasted in padding which can be used to display more content efficiently
![susi ai_dashboard(iPhone 6_7_8)](https://user-images.githubusercontent.com/27860105/70155007-7da58280-16d7-11ea-9e93-61e2f282f0c0.p

[2019-12-05 02:30] milekag01 opened #3099 "Sidebar and Navbar alignment and scaling issues"
**Actual Behaviour**

Content of sidebar shifts at the last when we try to see it on mobile and does not show the subheadings of the content in the sidebar. Also, the user has to swipe all the way down to see the sidebar content.
Also, Navbar is not scaling properly while using it on a mobile phone. Also, once you focus on the SUSI AI logo in mobile and then unfocus, you can see that the SUSI AI l

[2019-12-05 13:46] milekag01 commented on #3099
@mariobehling Is this a valid issue?

[2019-12-08 00:58] mariobehling opened #3100 "Skills Page: Delete Button - Don't show "More Examples" or "Less""
The skills pages show a button "More Examples" or "Less". Please only show all examples. Don't show a button at all.

![Screenshot from 2019-12-08 01-56-57](https://user-images.githubusercontent.com/1583873/70382539-354bc600-195e-11ea-9309-605e4426d0b9.png)

[2019-12-08 12:13] paras151 commented on #3100
I'd like to take up on the issue

[2019-12-08 13:18] paras151 commented on #3100
I wanted to ask that is there a problem if , my branch that i propose to merge is 1 commit ahead which is the required commit and 3 commits behind fossasia:master.

[2019-12-09 11:02] #2978 closed

[2019-12-11 03:44] #3097 closed

[2019-12-12 06:03] kpulkit29 commented on #3081
@Dilshaad21  Are you still working on this?

[2019-12-12 06:04] mariobehling opened #3103 "Edit Skill heading not showing up on Edit Skill Page"
The Create Skill page has a heading "Create Skill". The edit skill page is identical except for "Create Skill" it should show "Edit Skill". Please get the heading back.

![Screenshot from 2019-12-11 23-03-22](https://user-images.githubusercontent.com/1583873/70686657-4b82ba80-1cad-11ea-896e-e121e9d8d202.png)

![Screenshot from 2019-12-12 07-04-25](https://user-images.githubusercontent.com/1583873/

[2019-12-12 07:28] chauhanparth210 commented on #3103
@mariobehling  I am taking this issue.

[2019-12-12 17:51] #3100 closed

[2019-12-13 05:31] kpulkit29 commented on #3103
@chauhanparth210  are you working on it?

[2019-12-14 08:03] anishagg17 opened #3107 "Top to scroll button and chatbot icon goes too high"
**Actual Behaviour**
these buttons are very high on mobile devices because pixels are used to define their positions
instead of percentages

**Expected Behaviour**
percentages should be used to define their positions

**Screenshots of the issue**
![WhatsApp Image 2019-12-14 at 1 27 34 PM](https://user-images.githubusercontent.com/43617894/70845535-e4fcc880-1e75-11ea-8178-57b29643475c.jpeg)

**Woul

[2019-12-15 11:54] royan0007 opened #3109 "unable to create account on sus.ai"
**Actual Behaviour**

**Expected Behaviour**

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

[2019-12-15 17:11] MuhammadWasif opened #3110 "No way to go back when you click Forget Password"
**Actual Behaviour**
When user clicks *Forget Password* in login model, there's no way of coming back to login instead of closing the model. A user has to close model if he want to login.
**Expected Behaviour**
There should be a link below the button. By clicking the button, login model should open again.

**Steps to reproduce it**
Add a login link that open login model again without exit the exis

[2019-12-16 13:18] royan0007 commented on #3109
i am unable to login on sus.ai

[2019-12-16 16:19] #3110 closed

[2019-12-16 18:28] #3103 closed

[2019-12-16 21:19] #3107 closed

[2019-12-17 06:03] chauhanparth210 opened #3112 "Shadow is not centered align"
**Actual Behaviour**
On "ABOUT" icon , the shadow is not centered.

**Expected Behaviour**
Shadow should be centered.

**Screenshots of the issue**
![Screenshot (30)_LI](https://user-images.githubusercontent.com/35137224/70969033-e79f2e00-20c0-11ea-964f-c776aa8c824e.jpg)

**Would you like to work on the issue?**
yes

[2019-12-17 06:49] chauhanparth210 opened #3114 "Smooth scrolling & disappearance of down button"
**Actual Behaviour**
* While chatting  with the bot, the smooth scrolling is not working for down navigation button.
* Reaching at the end of chat part, the down navigation button is not disappear.

**Expected Behaviour**
* Smooth scrolling should be working for down navigation button
* Down navigation should be disappear while it reaching at end of the chat conversation.

**Screenshots of the iss

[2019-12-17 12:09] kpulkit29 commented on #3058
@DhananjayPurohit  are you working on it

[2019-12-17 16:44] MuhammadWasif opened #3116 "Theme color for mobile devices"
**Actual Behaviour**
Currently, there's no specific theme for the web app.
**Expected Behaviour**
There should be a theme color that matches the theme of SUSI.AI web app.
**Would you like to work on the issue?**
Yes

[2019-12-17 18:48] kpulkit29 opened #3117 "Ratings not visible in card when author name is too long"
**Actual Behaviour**
Ratings not visible in card when author name is too long.

**Expected Behaviour**

Long author name should be truncated.

**Steps to reproduce it**

Observe the first card [here](https://susi.ai/category/Knowledge?view_type=grid&order_by=descending&reviewed=true)
**Screenshots of the issue**

![Screenshot 2019-12-18 at 12 05 20 AM](https://user-images.githubusercontent.com/201

[2019-12-18 06:59] Dilshaad21 opened #3119 "Feature to delete a skill created by the user."
**Actual Behaviour**

Currently, there is no feature to delete skills created by the user.

**Expected Behaviour**

It should not be the case as the user should be allowed to delete his/her skill.

**Would you like to work on the issue?**

Yes

[2019-12-18 15:31] mariobehling commented on #3116
Low priority and not a focus currently. We have enough issues that really need attention. Please help to keep the team focused on actual issues that impact the users more substantially. Thanks.

[2019-12-18 15:31] #3116 closed

[2019-12-18 17:28] AnupKumarPanwar opened #3120 "Change SUSI Widget reply to Hi"
**Actual Behaviour**
On sending **Hi** to the SUSI bot widget replies with the following message:
`
Well hello and welcome to the Fossasia Google Code-in Website. How may I help you ?
`

Why is it specifically saying **Google Code-in Website**?

**Expected Behaviour**

It should not specifically mention Google Code-in.

**Screenshots of the issue**

![image](https://user-images.githubusercontent.c

[2019-12-18 17:52] pranavkarthik10 commented on #3120
This is based on a skill someone wrote in which hi is a query. Due to conflicts between skills this is the chosen answer for the query hi.

[2019-12-19 18:33] MuhammadWasif opened #3121 "Support page lacks a Back to Top button"
**Actual Behaviour**
There's no **Back to Top** button on _support_ page. While, every other page has  a **Back to Top** button

**Expected Behaviour**
There should be a **Back to Top** button on this page too

**Would you like to work on the issue?**
Yes

[2019-12-19 20:10] AnupKumarPanwar commented on #3120
But that doesn't look good. That skill should be modified.

[2019-12-20 05:54] #3033 closed

[2019-12-20 10:28] anishagg17 opened #3123 "Uneven Naming style in rating section"
**Actual Behaviour**
 Some skills have underscore in their name while some are space separated in the ratings section

![Screenshot 2019-12-20 at 3 55 14 PM](https://user-images.githubusercontent.com/43617894/71248596-3fe46300-2341-11ea-8e05-ad8302b1b04b.png)

![Screenshot 2019-12-20 at 3 54 59 PM](https://user-images.githubusercontent.com/43617894/71248602-41ae2680-2341-11ea-8f3c-1a53d52a53d1.png

[2019-12-20 11:25] anishagg17 commented on #3123
<h3>Person must be logged in  to observe these effect</h3>

[2019-12-20 15:58] #3121 closed

[2019-12-20 15:59] #3117 closed

[2019-12-21 08:15] Dilshaad21 opened #3125 "Circular Loaders needed for skill feedback section"
**Actual Behaviour**

Editing the skill feedback and posting it often takes too much time.

**Expected Behaviour**

Circular Loaders must be used in that cases.

**Screenshots of the issue**

![ezgif com-video-to-gif (5)](https://user-images.githubusercontent.com/45489945/71305301-b93e8d00-23f7-11ea-8890-50b497235e25.gif)

**Would you like to work on the issue?**

Yes

[2019-12-21 10:37] Sid911 opened #3126 "Fixing the "what susi can do?" section in about?"
**Actual Behaviour**
Currently, the switching preview is broken. it doesn't highlight which one it is showing and lots of other problems in its switching after clicking a single one.
*In short, its showing unexpected behaviour after clicking*

**Expected Behaviour**

User should be able to see the previews and click on them to skip to one or the other, if they want seamlessly.

**Steps to reproduc

[2019-12-21 15:58] antonyalex commented on #3120
I am working on it

[2019-12-23 03:58] #3125 closed

[2019-12-23 11:45] MuhammadWasif opened #3133 "Service workers needed"
**Actual Behaviour**
There are no _service workers_. [Service workers](https://developers.google.com/web/fundamentals/primers/service-workers) increase the performance of app. It loads the content instantly, when user visits the app more than once

**Expected Behaviour**
Service workers should be added to the app

**Would you like to work on the issue?**
Yes

[2019-12-23 13:14] NishithP2004 opened #3135 "Bots are misbehaving"
**Actual Behaviour**
The SUSI.AI bot added to the site is not proper.On typing a 'hi' message it replies to another context not pertaining to the site.
This same error is seen in all the preview bots created by an individual.

**Expected Behaviour**
The bot should give info pertaining to the site or respond the same as data provided by an individual.

**Steps to reproduce it**
Open the susi.ai sit

[2019-12-23 13:29] Dilshaad21 opened #3136 "No auto-scrolling of the chat in the preview."
**Actual Behaviour**

The SUSI chat in the preview section of `Create a Susi skill` has no feature of auto-scrolling.

**Expected Behaviour**

It should have the feature to auto-scroll as the user continues the conversation.

**Screenshots of the issue**

![final_5e00bf9dfb4b130013a8fb80_331494](https://user-images.githubusercontent.com/45489945/71360511-226bff00-25b6-11ea-8cf4-8e4ea701efe0.gif)

[2019-12-23 15:08] #3126 closed

[2019-12-23 17:07] aahel commented on #3136
i would like to work on this issue

[2019-12-23 18:50] dmahajan980 commented on #3096
I would like to work on this issue.

[2019-12-24 04:11] #3123 closed

[2019-12-24 04:24] #2980 closed

[2019-12-24 08:30] anishagg17 opened #3138 "Fossasia address needs to be updated to new one"
**Expected Behaviour**

new address should be used as per :
https://github.com/fossasia/labs.fossasia.org/issues/407

**Would you like to work on the issue?**

yes

[2019-12-24 08:40] anishagg17 opened #3140 "Uneven Naming style in feedback section"
**Actual Behaviour**

![Screenshot 2019-12-24 at 2 04 42 PM](https://user-images.githubusercontent.com/43617894/71403639-58f95680-2656-11ea-9299-4fc0fa60c6fb.png)
feedback section too has some names with _
Same as #3123

**Expected Behaviour**

![Screenshot 2019-12-24 at 2 05 17 PM](https://user-images.githubusercontent.com/43617894/71403665-6ca4bd00-2656-11ea-8de9-0f94b87f0cf6.png)

**Would you l

[2019-12-24 12:13] anishagg17 opened #3142 "No share to WhatsApp option in share menu"
**Expected Behaviour**

A share to WhatsApp button should be provided in share menu section

**Would you like to work on the issue?**

Yes

[2019-12-24 19:50] simranaggarwal1999 commented on #3114
Can I work on it?

[2019-12-25 10:51] simranaggarwal1999 commented on #3114
Hey I have resolved the issue

[2019-12-25 11:11] simranaggarwal1999 commented on #3114
@chauhanparth210 Could you please review my pull request

[2019-12-25 16:08] Dilshaad21 opened #3145 "Feature to bring back the previous message in the chat"
**Actual Behaviour**

Currently, there is no feature to bring back the previous message of the chat in preview section of `Create Skill`.

**Expected Behaviour**

A new feature should be added to do the same by pressing `upward arrow` in the chat.

**Would you like to work on the issue?**

Yes, I would like to work on this issue.

[2019-12-25 18:51] simranaggarwal1999 commented on #3058
hey I have resolved the issue

[2019-12-25 19:16] simranaggarwal1999 commented on #3058
Kindly review the pull request

[2019-12-26 04:27] Dilshaad21 commented on #3145
I'm currently working on this issue. Not for pick

[2019-12-26 05:01] gorfadvijay commented on #839
can I work on this issue ?? @mariobehling @Orbiter

[2019-12-26 06:07] #3142 closed

[2019-12-26 11:02] anishagg17 opened #3148 "No share button to copy to clipboard the share text"
**Expected Behaviour**
There should be a share button to copy to clipboard the share text

[2019-12-26 13:09] anishagg17 opened #3150 "During form submission a user can manipulate data"
**Actual Behaviour**

During the event of form submission a user can change the input fields

**Expected Behaviour**

Input fields shouldn't be allowed to change

**Screenshots of the issue**

![Hnet com-image-3](https://user-images.githubusercontent.com/43617894/71477180-99033980-280e-11ea-9427-712dd0d9692e.gif)

**Would you like to work on the issue?**

Yes

[2019-12-26 16:32] kumuditha-udayanga opened #3151 "Fix alignments in team page"
**Description**
In the current team page, the "Project managers" and "Project founders" sections are not aligned properly.

**Actual Behaviour**

<img width="849" alt="Screenshot 2019-12-26 at 21 48 36" src="https://user-images.githubusercontent.com/27630091/71482652-c90c0600-2829-11ea-9a3b-fc1a1d40b00c.png">

**Expected Behaviour**

![image](https://user-images.githubusercontent.com/27630091/7148

[2019-12-26 19:33] kpulkit29 opened #3154 "Pagination on blog page"
**Actual Behaviour**

There is no pagination, the user has to scroll a lot.

**Expected Behaviour**

There should be pagination if there are blogs more than a certain limit

**Steps to reproduce it**

Open https://susi.ai/blog

**Would you like to work on the issue?**

Yes

[2019-12-26 19:44] kpulkit29 opened #3155 "Make pagination logic reusable"
**Actual Behaviour**

Currently the logic written for pagination is confined to skillFeedback component. It should be made more generic so that any component can make us of it. Refer to #3154 .

**Expected Behaviour**

Pagination logic should be a separate utility.

**Would you like to work on the issue?**

Yes

[2019-12-26 19:47] kpulkit29 commented on #839
@gorfadvijay The front-end part is almost done here. Work needs to be done on the backend part.

[2019-12-27 05:39] akshatnitd commented on #3151
It is not a valid issue, the design is intentional.

[2019-12-27 05:39] #3151 closed

[2019-12-27 05:43] #3095 closed

[2019-12-27 05:57] #3140 closed

[2019-12-27 15:46] #3150 closed

[2019-12-27 16:30] anishagg17 opened #3156 "Social Icons in Blog section requires attention"
**Actual Behaviour**
There are a few icons in social section also there is no space in between them.
Also the cursor doesn't show any responsive change as we hover over them

**Expected Behaviour**

Share to whatsapp, Telegram should be available

**Would you like to work on the issue?**

YES
**ScreenShot:**
![Screenshot 2019-12-27 at 9 59 46 PM](https://user-images.githubusercontent.com/43617894/

[2019-12-27 17:21] gorfadvijay commented on #2897
@mariobehling @Orbiter can i work on this issue ???

[2019-12-27 20:41] plxity commented on #3120
@AnupKumarPanwar This issue doesn't belong to this Repository. You may close this.

[2019-12-27 20:42] plxity commented on #3109
@royan0007 Signup functionality is working fine. Try signing up again.

[2019-12-27 20:47] plxity opened #3158 "Making navigation bar sticky"
**Actual Behaviour**

Currently, the navigation bar is not sticky.

**Expected Behaviour**

The navigation bar should be sticky as it would help the users to access its feature from any part of the page.

**Would you like to work on the issue?**

Yes, I am working on this issue.

[2019-12-27 21:46] pranavkarthik10 opened #3159 "Update sharing with social media services"
Currently there is no way to share blog posts to LinkedIn which is a common source to share articles related to technology which many users of Susi might be interested in doing. An addition of a share to linkedin button would be very useful to solve this.

Also in the settings page when sharing to social media, telegram should be added. Telegram is also very popular to share links and articles lik

[2019-12-28 07:34] #3159 closed

[2019-12-28 08:41] #3063 closed

[2019-12-28 09:10] #3081 closed

[2019-12-28 10:50] #3138 closed

[2019-12-28 11:54] plxity commented on #2955
@mariobehling What are your views on this?

[2019-12-28 11:54] #3019 closed

[2019-12-28 13:34] aryamanpuri opened #3162 "Bottom to Top Button"
**Actual Behaviour**

There is no Bottom to Top Button.

**Expected Behaviour**

There should be a Button which will take the user to the Top

[2019-12-28 15:26] anishagg17 opened #3163 "Missing contributors section in team section"
**Actual Behaviour**
There is no contributors section

**Would you like to work on the issue?**
YES , if the contributors section is required

[2019-12-28 15:26] anishagg17 commented on #3163
@akshatnitd  Is it required?

[2019-12-28 15:30] anishagg17 commented on #3162
on which page you faced this issue...
Can you please upload **screenshot**

[2019-12-28 17:13] aryamanpuri commented on #3162
@anishagg17 Generally there is this kind of button on every website.
You can see on the Home Page itself.

Take it as an enchancement

[2019-12-28 17:43] aryamanpuri opened #3164 "On starting the react app"
Using yarn start , it is giving error
_Module not found: Can't resolve '@babel/runtime/helpers/assertThisInitialized' in '/home/aryaman/susi.ai/node_modules/react-image/umd'_

[2019-12-28 19:27] Sid911 commented on #3163
I think it should be there 😄... Let's see what others have to say about it..

[2019-12-29 08:10] aahel commented on #3158
I am working on this issue.

[2019-12-29 09:29] anishagg17 opened #3165 "Content Loader required in Blog page too"
**Actual Behaviour**

![Screenshot 2019-12-29 at 2 57 24 PM](https://user-images.githubusercontent.com/43617894/71554960-ab1deb80-2a4b-11ea-847a-340c53607354.png)

**Expected Behaviour**
Content Loader should be used

**Would you like to work on the issue?**
Yes

[2019-12-29 13:16] snitin315 opened #3167 "Basic installation steps missing in README"
**Actual Behaviour**
Currently README.md does not have installation steps to setup the project locally . This can create trouble for beginners who are new to open source and trying to set up the project locally.

**Expected Behaviour**
Required installation steps must be added in README.md .

**Additional Context**
I will work on this issue

[2019-12-29 13:19] snitin315 commented on #3162
@aryamanpuri , I guess we have back to top button on many pages , you have to be specific on which page you didn't find it.

[2019-12-29 14:04] pkspyder007 commented on #3164
@aryamanpuri i ran yarn start and it worked fine. Try installing the project again by running yarn install.
And then run yarn start.

[2019-12-29 14:41] #3164 closed

[2019-12-29 14:46] aryamanpuri commented on #3162
localhost:3000 | https://susi.ai

[2019-12-30 04:09] Dilshaad21 opened #3168 "Content Loader in main page not fit for large screens"
**Actual Behaviour**

The content loader in the main page is not fit for large screen sizes.

**Expected Behaviour**

It should adjust the size dynamically according to the screen size.

**Screenshots of the issue**

![un](https://user-images.githubusercontent.com/45489945/71567868-48c6f880-2ae8-11ea-8065-c9eb84774428.png)

**Would you like to work on the issue?**

Yes

[2019-12-30 04:44] Rishi007-web commented on #3168
I think it's work fine on a 15.6-inch laptop.

![content_loader](https://user-images.githubusercontent.com/57035408/71568419-1966ba80-2aed-11ea-8c9e-008925430fe9.png)

[2019-12-30 04:50] Rishi007-web commented on #3167
Yah! You are right.
I am a beginner and I am facing issues in setup a project locally.
So, please add the installation step.

[2019-12-30 04:55] snitin315 commented on #3167
@Rishi007-web  working on it , will file a PR ASAP

[2019-12-30 04:56] snitin315 commented on #3162
There is back to top button on homepage , it appears after some scrolling next to the chat bot icon.

[2019-12-30 04:57] Rishi007-web commented on #3167
OK, Thanks

[2019-12-30 05:23] Dilshaad21 opened #3169 "Add whatsapp web in share about susi"
**Expected Behaviour**

Add whatsapp web in share about susi.

**Screenshots of the issue**

![jju](https://user-images.githubusercontent.com/45489945/71569089-8fb9eb80-2af2-11ea-8c25-dc16ea4a6be8.png)

**Would you like to work on the issue?**

Yes

[2019-12-30 05:25] Dilshaad21 commented on #3168
Ya, but it should be fine for all the screen sizes.

[2019-12-30 06:15] aryamanpuri commented on #3162
@snitin315

[2019-12-30 06:27] snitin315 commented on #3162
![Screenshot from 2019-12-29 21-19-38](https://user-images.githubusercontent.com/46647141/71570522-86814c80-2afb-11ea-9fba-48958b1c72ed.png)

[2019-12-30 07:45] #3162 closed

[2019-12-30 15:07] alekhgupta1441 commented on #3163
Contributors have played a significant role in development of this website .So, I think this improvement should be done.

[2019-12-30 15:32] anishagg17 opened #3172 "Add telegram in share about susi."
**Expected Behaviour**
<li>Add telegram in share about susi.</li>

**Would you like to work on the issue?**
Yes

[2019-12-30 16:59] #3169 closed

[2019-12-30 17:21] #3136 closed

[2019-12-30 17:43] #3112 closed

[2019-12-30 18:02] #3165 closed

[2019-12-31 02:59] mariobehling opened #3175 "Substitute external dependencies - Avoid calling CDNs, external JS, Fonts etc."
The web client should be ready for use in a local network without Internet access. This is also important for privacy. People don't always want to call Google fonts and share their IP address and other data automatically with external services (by calling these dependencies).

Please substitute external dependencies like Google fonts, external scripts etc. and ensure all required components are pa

[2019-12-31 03:50] Jayashree-panda commented on #3155
@kpulkit29 Can I take this issue?

[2019-12-31 06:40] kpulkit29 commented on #3155
@Jayashree-panda I am working on it.

[2019-12-31 10:58] anishagg17 opened #3177 "NO map in contact section to show organisation on map"
**Expected Behaviour**
There should be a map which states position of fossasia on map

**Would you like to work on the issue?**
Yes

[2019-12-31 11:00] kumuditha-udayanga opened #3179 "Only 10 blog posts are displaying on the blog page."
**Actual Behaviour**

Currently, the blog page is taking 50 posts from Fossasia blog feed at once and it's rendering only the first 10 posts on the page.
There's no way to see other posts.
Also, it's taking big time to load 50 posts at once.

**Expected Behaviour**

- Paginate and request posts from the feed
- Implement navigation buttons to see other blog posts

[2019-12-31 14:20] Dilshaad21 opened #3180 "Add password validator and strength checker in Change Password"
**Actual Behaviour**

Password validator is not dynamic in the Change Password section in Settings.

**Expected Behaviour**

- Make the password validator dynamic.
- Add password strength checker in it.

**Would you like to work on the issue?**

Yes

[2019-12-31 16:55] snitin315 opened #3181 "chore: remove console warning"
**Actual Behaviour**
We have one warning in console.

![Screenshot from 2019-12-31 22-23-27](https://user-images.githubusercontent.com/46647141/71628077-3f3ead00-2c1c-11ea-8467-9505ae7bbadf.png)

**Expected Behaviour**
There should not be any warnings in console.

**Would you like to work on the issue?**
Yes

[2019-12-31 17:01] #3181 closed

[2020-01-01 14:42] anishagg17 commented on #3175
@mariobehling  I am working on this issue

[2020-01-01 16:23] MuhammadWasif opened #3185 "Contact button lacks a back top top button"
**Actual Behaviour**
There's no **Back to Top** button on Contact Page
**Expected Behaviour**
_Back to Top_ button is available on every page but it's not on _Contact_ page
**Steps to reproduce it**
Go to [susi.ai/contact](https://susi.ai/contact) and scroll. You'll not see any _Back to Top_ button

**Would you like to work on the issue?**
Yes

[2020-01-01 16:24] #3133 closed

[2020-01-02 06:44] #3154 closed

[2020-01-02 07:02] varun14gb commented on #3185
I would like to work on this issue.

[2020-01-02 07:25] simranaggarwal1999 commented on #3114
@chauhanparth210  Hey! I have solved the issue. Kindly review my pull request.

[2020-01-02 09:54] #3145 closed

[2020-01-02 09:57] kpulkit29 commented on #3070
@Dilshaad21  Are you still working on this.

[2020-01-02 09:57] kpulkit29 commented on #3048
@AuraOfDivinity  are you still working on it.

[2020-01-02 10:30] anishagg17 opened #3188 "Empty Blog page rendered"
**Actual Behaviour**

![Screenshot 2020-01-02 at 3 57 28 PM](https://user-images.githubusercontent.com/43617894/71662818-cc971400-2d78-11ea-8c49-a9300e7aea46.png)

**Steps to reproduce it**
Goto last page on Blog section

**Would you like to work on the issue?**
Yes

[2020-01-02 11:27] akshatnitd commented on #3158
Currently, the app bar doesn't stick all the time while scrolling, but shows up when you try to scroll upwards. This is the standard pattern being followed nowadays. Hence, closing the issue.

[2020-01-02 11:27] #3158 closed

[2020-01-02 11:29] #3172 closed

[2020-01-02 11:49] AuraOfDivinity commented on #3048
@kpulkit29  Feel free to start working on it!

[2020-01-02 14:08] simranaggarwal1999 commented on #3114
@chauhanparth210 Hey! I have solved the issue. Kindly review my pull request.

[2020-01-02 14:22] Dilshaad21 commented on #3070
No, I'm currently not. You can go ahead :rocket:

[2020-01-02 15:13] Jayashree-panda commented on #3188
Hi @anishagg17
Actually the blogs are getting rendered, just taking a while.
![Screenshot from 2020-01-02 20-42-48](https://user-images.githubusercontent.com/33364652/71674145-835aba80-2da0-11ea-8b1d-6e1a370bf612.png)
![Screenshot from 2020-01-02 20-42-51](https://user-images.githubusercontent.com/33364652/71674152-86ee4180-2da0-11ea-82bf-a4a460357649.png)

[2020-01-02 15:18] Jayashree-panda commented on #2567
@mariobehling @tabesin Can I take this issue?

[2020-01-02 15:25] Jayashree-panda commented on #2730
@mariobehling Can I take this issue?

[2020-01-02 15:28] Jayashree-panda commented on #2570
@tabesin @mariobehling Is it solved?

[2020-01-02 15:41] Jayashree-panda commented on #2569
@tabesin Can I take it on?

[2020-01-02 15:49] Jayashree-panda commented on #2179
@hkedia321 @DNS-404 If you guys are not working on the issue, Can I take on?

[2020-01-02 16:08] tabesin commented on #2567
Yes, this us very much appreciated but feel free to divide it in subtasks.

[2020-01-02 16:11] tabesin commented on #2569
Also this one. Please mind that fossasia standard is one bug one patch. So feel free to create subbugs and patches that close one of them.

[2020-01-02 16:12] tabesin commented on #2570
If it is not closed apoarently not. Have you tested?

[2020-01-02 16:32] Jayashree-panda commented on #2567
@tabesin Yeah! Sure, I will.
Thank:)

[2020-01-02 17:05] anishagg17 commented on #3188
@Jayashree-panda please read steps to reproduce it

[2020-01-02 17:29] Jayashree-panda commented on #3188
@anishagg17 Sorry but I couldn't understand the need to reproduce?

[2020-01-02 19:25] kpulkit29 commented on #3087
@iharshit009  I would like to work on it.

[2020-01-02 19:34] #3114 closed

[2020-01-03 09:18] simranaggarwal1999 commented on #3058
@DhananjayPurohit Hey I resolved the issue. Kindly review my pull request.

[2020-01-03 09:26] #3179 closed

[2020-01-03 10:03] #3120 closed

[2020-01-03 11:43] Dishebh commented on #3088
@maze-runnar if it is up for grabs, can I take it?

[2020-01-03 11:44] Dishebh commented on #3072
@poojagl85 if it is up for grabs, can I take it?

[2020-01-03 11:46] Dishebh commented on #3073
@poojagl85 can I pls take the issue?

[2020-01-03 11:48] Dishebh commented on #3082
@anishagg17 if it is up for grabs, can I take it?

[2020-01-03 11:49] Dishebh commented on #3156
@anishagg17 if it is up for grabs, can I take it?

[2020-01-03 12:04] anishagg17 commented on #3156
Bro my pull request is under consideration, I am made the pr only review is left

[2020-01-03 12:04] anishagg17 commented on #3082
yep bro you may work on it

[2020-01-03 12:06] poojagl85 commented on #3073
I have already done the PR

[2020-01-03 12:07] poojagl85 commented on #3072
Yes you can

[2020-01-03 13:57] anishagg17 opened #3196 "Login fails when user enters email in capital"
**Actual Behaviour**
![Hnet-image (2)](https://user-images.githubusercontent.com/43617894/71727103-3f7aba80-2e5f-11ea-9148-c4aa6f0e5967.gif)

Login fails when user enters email in capital

**Expected Behaviour**

if user enters email in capital login action should be completed

**Steps to reproduce it**

try logging in with email in capital letters

**Would you like to work on the issue?**
Yes

[2020-01-03 14:45] #3167 closed

[2020-01-03 15:36] Dishebh commented on #3008
@aman29271 can I take the issue pls?

[2020-01-03 15:42] Dishebh commented on #3056
@poojagl85 @akshatnitd if it is up for grabs, can I take it?

[2020-01-03 16:20] maze-runnar commented on #3088
go ahead

[2020-01-03 16:29] anishagg17 opened #3198 "NO content Loaders in dashboard section"
**Expected Behaviour**

there should be content loaders in dashboard section too.

**Would you like to work on the issue?**
Yes

[2020-01-03 16:54] anishagg17 opened #3200 "No loader for SkillSlideshow"
**Actual Behaviour**

On HomeScreen SkillSlideshow takes time to load and hence it appears differently

**Expected Behaviour**

there should be loader for SkillSlideshow

**Screenshots of the issue**

![Screenshot 2020-01-03 at 10 22 56 PM](https://user-images.githubusercontent.com/43617894/71736649-9ab8a700-2e77-11ea-9aaa-452bd5f80a92.png)

**Would you like to work on the issue?**

Yes

[2020-01-04 06:23] poojagl85 commented on #3056
@Dishebh you can take this.

[2020-01-04 07:05] kpulkit29 commented on #3196
Isn't this the desired behaviour ?

[2020-01-04 07:23] #3002 closed

[2020-01-04 07:26] kpulkit29 commented on #2909
@Dilshaad21 This issue is already solved  you might close this.

[2020-01-04 07:40] #3070 closed

[2020-01-04 07:47] anishagg17 commented on #3196
No

[2020-01-04 07:52] kpulkit29 opened #3203 "Directly using session storage causes page to go blank"
**Actual Behaviour**

Currently sessionStorage is being directly used in the code. If a user has blocked use of storage the chrome throws an error which causes the page to go blank.

**Expected Behaviour**

Session storage should use a service just like local storage is using.

**Steps to reproduce it**

1. Block Storage for https://susi.ai/
2. Then open https://susi.ai/
3. Click on login & the pa

[2020-01-04 07:56] #2909 closed

[2020-01-04 08:17] DipanshiB commented on #3119
Is this issue open for contributing? Can I take it up or is someone working on it? @Dilshaad21

[2020-01-04 11:00] #3196 closed

[2020-01-04 13:30] anishagg17 opened #3204 "Share to social Media should be a stateful function"
**Purpose**
`to hook the shareText into a state variable and the state variable should be passed onto the social links.
`
Requested in :
#3149

**Would you like to work on the issue?**
Yes

[2020-01-04 14:27] snitin315 opened #3205 "chore: add release-drafter.yml in .github"
**Actual Behaviour**
Currently we don't have the `release-drafter.yml` file which is very useful to keep track of a project. As pull requests are merged, a draft release is kept up-to-date listing the changes, ready to publish when you’re ready.
Right Configuration can  categorises the changes into headings, and automatically suggests the next version number as well.

for more info visit [https://

[2020-01-04 14:51] anishagg17 opened #3207 "Version of dependency changes"
**Expected Behaviour**
The version of dependency should not change

**Screenshots of the issue**

![Screenshot 2020-01-04 at 8 18 25 PM](https://user-images.githubusercontent.com/43617894/71767184-75876f80-2f2f-11ea-8e53-10428e06f421.png)

**Would you like to work on the issue?**

Yes

[2020-01-04 15:24] #3198 closed

[2020-01-04 15:54] #3148 closed

[2020-01-04 16:10] #3177 closed

[2020-01-04 16:12] anishagg17 opened #3209 "card loader in the mobile view require atteention"
**Actual Behaviour**

they don't appear to be same as cards are in mobile view

**Screenshots of the issue**

Loaders:

![Screenshot 2020-01-04 at 9 41 52 PM](https://user-images.githubusercontent.com/43617894/71768306-0748aa00-2f3b-11ea-92f4-25829d075d80.png)

Actual cards:

![Screenshot 2020-01-04 at 9 42 08 PM](https://user-images.githubusercontent.com/43617894/71768308-12033f00-2f3b-11ea-8840-

[2020-01-04 16:16] abhi1381 opened #3210 "console warning to update key prop on running locally"
**Actual Behaviour**

warning in browser's console to add missing key prop on running the application locally.

**Expected Behaviour**

I think there shouldn't be any warning as its a sign of bad user experience and bad practice.

**Steps to reproduce it**

Reload the application on localhost and open the browser's console.

**Screenshots of the issue**

![Annotation 2020-01-04 210404](https://use

[2020-01-04 19:19] makoteq opened #3212 "Clear text input before bot response"
**Actual Behaviour**
After send message to bot, textbox is clear only when bot response

![SUSI AI - Botbuilder - Google Chrome 2020-01-04 20-08-53](https://user-images.githubusercontent.com/42750440/71770641-32c59780-2f2f-11ea-8a8a-a160d9058888.gif)

**Expected Behaviour**
After send message to bot, textbox is clearing

![SUSI AI - Botbuilder - Google Chrome 2020-01-04 20-09-54 (1)](https://user-

[2020-01-04 19:21] #3156 closed

[2020-01-04 19:34] #3200 closed

[2020-01-04 21:41] anishagg17 opened #3215 "scroll to top button needs to be present on every page"
**Actual Behaviour**

some pages still miss out scroll to top button

**Expected Behaviour**

scroll to top button should be present on every page , just like the Chat bubble is present.

**Would you like to work on the issue?**

Yes

[2020-01-05 09:37] aman29271 commented on #3008
@Dishebh go ahead

[2020-01-05 12:44] anishagg17 opened #3217 "share a common interface for dialog popup and share on social media"
**Actual Behaviour**

interface for dialog popup and share on social media differs greatly

**Screenshots of the issue**

Share on social media:

![Screenshot 2020-01-05 at 10 16 34 PM](https://user-images.githubusercontent.com/43617894/71783180-0aaa6700-3009-11ea-9033-7802b7762968.png)

Dialog:

![Screenshot 2020-01-05 at 10 15 47 PM](https://user-images.githubusercontent.com/43617894/71783170-f0

[2020-01-05 17:01] anishagg17 opened #3221 "Unexpected crashing of website"
**Actual Behaviour**

If an error occurs to fetch the skills the app crashes

**Screenshots of the issue**

![Screenshot 2020-01-05 at 10 29 08 PM](https://user-images.githubusercontent.com/43617894/71783326-4d6d3e80-300b-11ea-899c-47568e26ffc6.png)

![Screenshot 2020-01-05 at 10 40 12 PM](https://user-images.githubusercontent.com/43617894/71783404-57dc0800-300c-11ea-85cc-e231316b96c0.png)

**Woul

[2020-01-05 17:25] akshatnitd commented on #3057
We probably would like to build it using some other way. Maybe, show all the filters on a drawer.

[2020-01-05 17:59] anishagg17 commented on #3057
Okay sir , I am working on it and would soon update the fix

[2020-01-05 20:21] 20231023 opened #3225 "Delete-all button in search bar is difficult to see"
**Actual Behaviour**

**Expected Behaviour**

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

[2020-01-06 09:22] #3203 closed

[2020-01-06 10:14] #3207 closed

[2020-01-06 10:24] simranaggarwal1999 commented on #3225
@20231023 Hey kindly add the relevant details of the issue i.e screenshot, actual and expected behaviour.

[2020-01-06 10:37] simranaggarwal1999 commented on #3087
Can I work on this issue?

[2020-01-06 11:25] anishagg17 opened #3226 "Skills flick out instantaneously"
**Actual Behaviour**

Skill categories require time to load so they flick out instantaneously

**Expected Behaviour**

There should be a loder for skill categories too

**Screenshots of the issue**

**Would you like to work on the issue?**

Yes

[2020-01-06 11:35] anishagg17 opened #3227 "No need of chat with susi on navbar"
**Actual Behaviour**

There are two ways to open chat with susi
• via navbar
• via chat buble
 Both of them are present on every page

**Expected Behaviour**

Navbar should not have option for chat

**Would you like to work on the issue?**

Yes

[2020-01-06 12:32] paras151 commented on #3093
I've already aligned the bullet points as you can see in the screenshot under 'Expected Behaviour'.

[2020-01-06 13:39] simranaggarwal1999 commented on #3087
@iharshit009  I have resolved the issue. Kindly review my pull request.

[2020-01-06 18:33] #3185 closed

[2020-01-07 04:40] Dilshaad21 opened #3229 "Table should not get displayed when there is no content to show"
**Actual Behaviour**

Table in the dashboard gets displayed even when there is no content to show in `Ratings` and `Skills`.

**Expected Behaviour**

It should not get displayed in that case.

**Would you like to work on the issue?**

Yes

[2020-01-07 08:53] anishagg17 opened #3232 "there are unnecessary ScrollTopButton"
**Actual Behaviour**

there are unnecessary ScrollTopButton

**Expected Behaviour**

there shouldn't be unnecessary ScrollTopButton

**Would you like to work on the issue?**

YEs

[2020-01-07 09:14] Dilshaad21 opened #3233 "Skill name needs to get trimmed before saving"
**Actual Behaviour**

Skill gets submitted in the case when the field is filled with spaces only.

**Expected Behaviour**

Trim the `skill_name` before saving it.

**Would you like to work on the issue?**

Yes

[2020-01-07 10:41] anishagg17 opened #3235 "username needs to be trimmed"
**Expected Behaviour**

username needs to be trimmed  before saving

**Would you like to work on the issue?**

YEs

[2020-01-07 11:22] NitinBhasneria commented on #3056
@poojagl85 Is @Dishebh  taking up for this issue or should I contribute to this, please?

[2020-01-07 11:27] NitinBhasneria commented on #3008
@aman29271 Looks like @Dishebh has taken many issues and not working so can I take this issue?
@Dishebh If you are working then please respond...

[2020-01-07 11:39] Dishebh commented on #3056
@NitinBhasneria you may take up the issue.

[2020-01-07 11:39] Dishebh commented on #3008
@NitinBhasneria working on it.

[2020-01-07 12:40] #3215 closed

[2020-01-07 12:40] NitinBhasneria commented on #3056
Ok I am taking this issue

[2020-01-07 13:27] akshatnitd commented on #3119
This feature is already there and is there with the admins.

[2020-01-07 13:36] Dilshaad21 commented on #3119
:+1: Ok it's fine then.

[2020-01-07 16:27] Dilshaad21 opened #3239 "Remove browser console errors"
**Actual Behaviour**

There are lots of console errors in browsers based on css properties of `styled-components` and many more.

**Expected Behaviour**

Remove the console errors

**Screenshots of the issue**

![csvdv](https://user-images.githubusercontent.com/45489945/71910844-b0d8a700-3198-11ea-9567-f04b5575e609.png)

**Would you like to work on the issue?**

Yes

[2020-01-07 16:39] anishagg17 commented on #3066
Bro , May i work upon it?

[2020-01-07 16:45] anishagg17 commented on #3089
I am taking this issue @maze-runnar

[2020-01-07 17:15] #3232 closed

[2020-01-07 18:01] kpulkit29 commented on #3066
Sure

On Tue, 7 Jan, 2020, 22:10 anishagg17, <notifications@github.com> wrote:

[2020-01-07 21:15] makoteq opened #3240 "Build error"
something is wrong after set up project
![2020-01-07 (3)](https://user-images.githubusercontent.com/42750440/71930042-2a719480-319b-11ea-8e52-6246c349c456.png)

[2020-01-08 04:27] anishagg17 commented on #3240
Please don't open same #3221 again

[2020-01-08 14:34] #3240 closed

[2020-01-08 15:30] #3229 closed

[2020-01-08 16:32] anishagg17 opened #3242 "Email needs to be trimmed before signup,signin"
**Expected Behaviour**

Email needs to be trimmed before signup,signin

**Would you like to work on the issue?**

yes

[2020-01-09 17:54] DipanshiB opened #3243 "Development Environment not loading"
**Actual Behaviour**

Upon running the start script in the terminal, the react server starts and the browse skills home route loads up on the browser. However before it gets completely loaded, errors show up. Upon checking the console, 12 errors are showing up, and no page is being loaded.

**Expected Behaviour**

Till a few days ago the website was loading correctly, I was able to go through the

[2020-01-09 17:56] anishagg17 commented on #3243
Please don't duplicate issue #3221

[2020-01-09 17:59] anishagg17 opened #3244 "prevent rapid firing of searches"
**Actual Behaviour**

as each alphabet is changed in the search bar a new search is rendered . Which leads to many searches

**Expected Behaviour**

should use least searches while the user is still typing a search query
Debounce may be used to fix this behaviour

**Would you like to work on the issue?**

Yes

[2020-01-09 18:08] DipanshiB commented on #3243
Oh right, I did not notice it was opened already.

[2020-01-09 18:08] #3243 closed

[2020-01-09 19:41] kpulkit29 commented on #3244
@anishagg17  denounce is already implemented .

[2020-01-10 11:11] kpulkit29 opened #3245 "API response should not leave the website blank"
**Actual Behaviour**

The website goes blank due to unexpected response from the API . Some missing checks cause it to go blank.  At some places the code is directly accessing object properties which can always be error prone and may cause the following code to break. Currently the app.js file in reducer and SkillCardScrollList.js throw error  whenever the API is down.

**Expected Behaviour**

Che

[2020-01-10 14:47] anishagg17 commented on #3245
Please don't duplicate issue #3221

[2020-01-10 15:45] #3245 closed

[2020-01-10 17:50] kpulkit29 commented on #3244
This issue can be closed as debounce is already implemented

[2020-01-10 18:03] anishagg17 commented on #3244
bro I will surely close it as soon as the server is back up again and I check up

[2020-01-10 19:09] simranaggarwal1999 commented on #3087
@iharshit009 I have resolved the issue. Kindly review my pull request.

[2020-01-10 19:25] #3221 closed

[2020-01-10 20:15] simranaggarwal1999 commented on #3227
@anishagg17  Can I work upon this issue?

[2020-01-10 20:18] #3188 closed

[2020-01-10 20:40] #3235 closed

[2020-01-10 21:01] anishagg17 commented on #3227
Go ahead

[2020-01-11 06:48] #3233 closed

[2020-01-11 07:38] Dilshaad21 opened #3249 "Give z-index to the scrollTopButton"
**Actual Behaviour**

The screenshot below shows the current behaviour of the `scrollTopButton` which is not as expected.

**Expected Behaviour**

Set `z-index` to set it to the top of everything else.

**Screenshots of the issue**

![Screenshot from 2020-01-11 13-03-23](https://user-images.githubusercontent.com/45489945/72200756-575fc900-3473-11ea-9607-693a650c1eda.png)

**Would you like to work

[2020-01-11 08:16] simranaggarwal1999 commented on #3227
@anishagg17 Kindly review my pull request.

[2020-01-11 09:23] Dilshaad21 opened #3253 "Username not getting displayed in the NavBar"
**Actual Behaviour**

Username is not getting displayed in the navbar.

**Expected Behaviour**

It should not be the case it should get displayed.

**Screenshots of the issue**
![Screenshot from 2020-01-11 14-52-34](https://user-images.githubusercontent.com/45489945/72202134-1327f500-3482-11ea-9d2c-59220a84ec9b.png)

**Would you like to work on the issue?**

Yes

[2020-01-11 11:07] anishagg17 commented on #2924
This issue has been already fixed .Please close this issue

[2020-01-11 11:13] anishagg17 opened #3256 "Feedback form needs attention"
**Actual Behaviour**

unnecessary "Feedback cannot be empty" message shown when Feedback is not empty
also Stucks to never ending loading when we edit and submit an empty feedback

**Steps to reproduce it**

try editing a feedback
edit and submit an empty feedback

**Screenshots of the issue**

![Screenshot 2020-01-11 at 4 41 55 PM](https://user-images.githubusercontent.com/43617894/72203389-48880

[2020-01-11 12:06] arrbxr commented on #3249
@Dilshaad21 Can I work upon this issue?

[2020-01-11 12:12] anishagg17 opened #3259 "minor checks for equality"
**Expected Behaviour**

strict equality rules should apply

**Would you like to work on the issue?**

Yes

[2020-01-11 12:24] anishagg17 commented on #3008
@aman29271 can I take the issue pls?
@Dishebh It's more than 4 days no effort has been shown by you

[2020-01-11 12:26] #3256 closed

[2020-01-11 12:36] Dishebh commented on #3008
Sure, go ahead.

[2020-01-11 13:43] #3244 closed

[2020-01-11 18:57] Dilshaad21 opened #3261 "Create logout modals"
**Expected Behaviour**

Create a logout modal to ask whether a user wants to logout after clicking on logout button.

**Would you like to work on the issue?**

Yes

[2020-01-12 06:14] akshatnitd commented on #2702
@kpulkit29 You can work on it.

[2020-01-12 07:40] akshatnitd commented on #3227
Please get issues confirmed before working on them.

[2020-01-12 07:40] #3227 closed

[2020-01-12 07:55] simranaggarwal1999 commented on #3227
@akshatnitd But I asked before working on this issue.

[2020-01-12 08:46] Dilshaad21 opened #3263 "Raise error when wrong credentials are entered in Login"
**Actual Behaviour**

Currently, no errors are raised informing user that the `username` or `password` entered is incorrect.

**Expected Behaviour**

An error must be thrown in such cases

**Would you like to work on the issue?**

Yes

[2020-01-12 09:31] anishagg17 opened #3264 "No date in Chat with SUSI.AI"
**Expected Behaviour**

There should be date in chat with susi.ai menu

**Screenshots of the issue**

![Screenshot 2020-01-12 at 3 01 04 PM](https://user-images.githubusercontent.com/43617894/72216836-5e0e3f00-354c-11ea-948c-dc5b8c8dbb94.png)

**Would you like to work on the issue?**

Yes

[2020-01-12 10:22] anishagg17 opened #3267 "Password gets auto cleared if it doesn't match"
**Expected Behaviour**

Password should not be cleared if it doesn't match

**Steps to reproduce it**

Add wrong password while logging in

**Screenshots of the issue**

![Hnet com-image (5)](https://user-images.githubusercontent.com/43617894/72217450-c44a9000-3553-11ea-8c2e-fbdd826e8d69.gif)

**Would you like to work on the issue?**

Yes

[2020-01-12 14:35] #3217 closed

[2020-01-12 15:04] Dilshaad21 opened #3269 "Feature to crop an avatar uploaded by the user"
**Expected Behaviour**

Add a feature to crop an avatar uploaded by the user before saving changes.

**Would you like to work on the issue?**

Yes

[2020-01-12 16:56] anishagg17 opened #3270 "chat with susi gives wrong map"
**Actual Behaviour**

map directs to wrong position

**Expected Behaviour**

map should direct to right position
Also, map should provide a full screen option

**Steps to reproduce it**

in chat with susi enter
 where is [location]?

**Screenshots of the issue**

![Screenshot 2020-01-12 at 10 25 38 PM](https://user-images.githubusercontent.com/43617894/72222424-82890c00-358a-11ea-9f8f-a41eada0f220

[2020-01-12 17:39] anishagg17 opened #3271 "no country flags in Country wise Usage of a skill"
**Expected Behaviour**

Country flags should be there

**Screenshots of the issue**

![Screenshot 2020-01-12 at 11 10 12 PM](https://user-images.githubusercontent.com/43617894/72223009-b109e580-3590-11ea-8c1c-520dfff0e8e0.png)

**Would you like to work on the issue?**

Yes

[2020-01-12 18:35] anishagg17 opened #3273 "Bugs in custom theme dialog"
**Actual Behaviour**

save button is neither disabled nor given a loader
missing set background colour of chat text
Message Image URL does not gives preview of image

![Screenshot 2020-01-13 at 5 54 27 PM](https://user-images.githubusercontent.com/43617894/72255839-c7b24a00-362d-11ea-927d-ff1d870a7337.png)
this is the util used to render message in chat box , It clearly shows a background colour n

[2020-01-13 10:10] altaha-ansari commented on #3056
@poojagl85 Is this issue available for me to work on?

[2020-01-13 11:59] harsh253 commented on #3273
Hi @anishagg17 . Can you please mention the steps to reproduce this issue ?

[2020-01-13 17:00] Akhil-Kashyap opened #3276 "Scroll top button style issue because of z-index."
**Actual Behaviour**

The scroll top button tends to go below the card text when we scroll through the page.

**Expected Behaviour**

The scroll top button should always stay above all other card components.

**Steps to reproduce it**

Scrolling through the page will clearly show the following issue.

**Screenshots of the issue**

![Screenshot (78)](https://user-images.githubusercontent.com/426002

[2020-01-13 17:09] #3276 closed

[2020-01-13 17:37] Akhil-Kashyap opened #3277 "Error message display while login and entering password"
**Actual Behaviour**

An Error msg of "Password should be atleast 6 character" when we try to login and enter the password.

**Expected Behaviour**

While logging in, there should be no error message displayed to the user. The error message should always pop up when the password don't match

**Steps to reproduce it**

Start entering the password in the login in window.

**Screenshots of the issue*

[2020-01-13 17:55] Sid911 commented on #3277
I am able to replicate your issue.. 😀 please go ahead @Akhil-Kashyap

[2020-01-14 06:06] anishagg17 opened #3278 "The video player is missing various features"
**Expected Behaviour**

Some features to be included:

Video loop
Change voice volume
Change video quality
Change playbackRate

**Would you like to work on the issue?**

Yes

[2020-01-14 07:24] #3278 closed

[2020-01-14 07:35] #3087 closed

[2020-01-14 08:21] #3264 closed

[2020-01-14 09:30] Sulekhiya opened #3281 "Console Warning while starting the development server."
**Actual Behaviour**
Presence of Console Warnings

**Expected Behaviour**
There should be no console warnings

**Steps to reproduce it**
npm run start

**Screenshots of the issue**
![Screenshot (43)](https://user-images.githubusercontent.com/32355917/72330273-364de100-36dc-11ea-8585-b8ad0d11eae1.png)

**Would you like to work on the issue?**
Yes

I am working on it.

[2020-01-14 12:48] Sulekhiya commented on #3267
Are you working on the issue?

[2020-01-14 12:55] #3239 closed

[2020-01-14 12:58] anishagg17 commented on #3267
If you want to work on it You can

[2020-01-14 13:03] #3271 closed

[2020-01-14 13:19] Sulekhiya commented on #3267
Okay, I am working on it!

[2020-01-14 14:28] anishagg17 opened #3284 "Gif is not previewed in chat with susi"
**Actual Behaviour**

Gif is not previewed in chat with susi

**Expected Behaviour**

Gif like map should be previewed in chat with susi

**Steps to reproduce it**

type gif angry in chat

**Screenshots of the issue**

![Screenshot 2020-01-14 at 7 58 09 PM](https://user-images.githubusercontent.com/43617894/72352395-32d04f00-3708-11ea-9612-ef8a821b98eb.png)

**Would you like to work on the issue?*

[2020-01-14 15:47] ShubhamChaudharyy commented on #3008
@aman29271 if u aren't working on this issue can i take up?

[2020-01-14 16:20] #3281 closed

[2020-01-14 19:31] kpulkit29 opened #3285 "Feature to zoom images in chat"
**Actual Behaviour**

No option to zoom images as off now

**Expected Behaviour**

There should be an option to zoom images on hover.

**Screenshots of the issue**

<img width="394" alt="Screenshot 2020-01-15 at 1 01 03 AM" src="https://user-images.githubusercontent.com/20151526/72375700-953e4500-3732-11ea-8d5e-ff2ab06bb244.png">

**Would you like to work on the issue?**

yes

[2020-01-15 14:19] simranaggarwal1999 commented on #3285
is this issue open now ?
Can I work on it?

[2020-01-15 14:22] kpulkit29 commented on #3285
I am working on it.

[2020-01-15 15:28] #3212 closed

[2020-01-15 15:54] akshatnitd commented on #3267
Invalid issue. The correct behavior is clearing it.

[2020-01-15 15:54] #3267 closed

[2020-01-15 16:36] #3273 closed

[2020-01-15 16:49] snitin315 opened #3288 "add contributions best practice section in Readme.md"
**Actual Behaviour**
Cuurently we dont have such section guiding beginners for best pracices

**Expected Behaviour**
The section should be available in README.md

**Would you like to work on the issue?**
YES

[2020-01-15 17:00] akshatnitd commented on #3109
Can't reproduce this issue. Closing it.

[2020-01-15 17:00] #3109 closed

[2020-01-15 17:02] akshatnitd commented on #3069
Can't reproduce this issue. Closing it.

[2020-01-15 17:02] #3069 closed

[2020-01-15 17:03] akshatnitd commented on #3059
Already fixed. Closing it.

[2020-01-15 17:07] akshatnitd commented on #2904
Can't reproduce this issue. Closing it.

[2020-01-15 17:07] #2904 closed

[2020-01-15 17:07] akshatnitd commented on #2886
Can't reproduce this issue. Closing it.

[2020-01-15 17:07] #2886 closed

[2020-01-15 17:07] Sulekhiya commented on #3267
Okay Cool !!

[2020-01-15 17:10] anishagg17 opened #3290 "Missing tests"
**Actual Behaviour**

there are various components which are missing tests

**Would you like to work on the issue?**

Yes

[2020-01-15 17:32] anishagg17 opened #3292 "Console errors"
**Actual Behaviour**

there are various console errors

**Would you like to work on the issue?**

Yes

**Screenshots of the issue**

![Screenshot 2020-01-15 at 11 01 56 PM](https://user-images.githubusercontent.com/43617894/72456615-09d4ba80-37eb-11ea-84aa-e3aca966c349.png)

[2020-01-15 18:51] anishagg17 commented on #3008
@ShubhamChaudharyy i am working on it

[2020-01-15 19:00] anishagg17 commented on #2408
@akshatnitd this issue has been resolved please close the issue

[2020-01-15 19:06] anishagg17 commented on #2922
@akshatnitd it has been resolved

[2020-01-15 19:08] anishagg17 commented on #2704
@akshatnitd it has been resolved by  #3280

[2020-01-15 19:14] anishagg17 commented on #3088
@Dishebh Are you still working on it i will like to work on it

[2020-01-15 19:15] anishagg17 commented on #3089
@maze-runnar I am working on this issue

[2020-01-15 20:08] kpulkit29 commented on #2985
@Dilshaad21 I guess this issue can be closed.

[2020-01-15 20:10] kpulkit29 commented on #3088
@anishagg17 I would like to work on it.

[2020-01-15 20:11] kpulkit29 commented on #3168
@Dilshaad21 Can I work on this.

[2020-01-16 05:14] #2408 closed

[2020-01-16 05:14] #2922 closed

[2020-01-16 05:14] #2704 closed

[2020-01-16 05:24] akshatnitd commented on #3284
Discuss the approach before solving this.

[2020-01-16 05:32] #3261 closed

[2020-01-16 05:44] #3057 closed

[2020-01-16 05:44] #3204 closed

[2020-01-16 05:45] #3210 closed

[2020-01-16 05:54] #3269 closed

[2020-01-16 07:52] anishagg17 commented on #3284
Sir i have implemented it

![Screenshot 2020-01-16 at 1 22 18 PM](https://user-images.githubusercontent.com/43617894/72504127-3a583b00-3863-11ea-90f3-6e3b841996da.png)

[2020-01-16 07:53] anishagg17 commented on #3284
I used generateGifBubble which was commented out with adjustments

[2020-01-16 08:03] anishagg17 commented on #3088
okay @kpulkit29

[2020-01-16 14:02] Dilshaad21 opened #3296 "Use react image crop for cropping bot image"
**Expected Behaviour**

Set react image crop to crop the bot image before uploading in **Create bot page**.

**Would you like to work on the issue?**

Yes

[2020-01-16 16:48] Dilshaad21 commented on #2347
@akshatnitd can you explain this issue a bit more. I want to work on this.

[2020-01-16 16:49] anishagg17 opened #3298 "No footer in settings section"
**Actual Behaviour**

No footer in settings section

**Screenshots of the issue**

![Screenshot 2020-01-16 at 10 19 06 PM](https://user-images.githubusercontent.com/43617894/72544946-3998c680-38ae-11ea-971b-359e8c144887.png)

**Would you like to work on the issue?**

Yes

[2020-01-16 16:50] anishagg17 opened #3299 "chat with susi does not support maths"
**Actual Behaviour**

chat with susi does not support maths

**Expected Behaviour**

it should give results of mathematical operations

**Screenshots of the issue**

![Screenshot 2020-01-16 at 10 20 42 PM](https://user-images.githubusercontent.com/43617894/72545082-71077300-38ae-11ea-8cb2-d795d0ba7856.png)

**Would you like to work on the issue?**

Yes

[2020-01-16 16:59] #3180 closed

[2020-01-16 18:32] #3263 closed

[2020-01-16 18:51] anishagg17 opened #3301 "Password suggestion during signup required"
**Expected Behaviour**

Password suggestion during signup required

**Would you like to work on the issue?**

Yes

[2020-01-16 19:20] #3284 closed

[2020-01-16 19:41] anishagg17 commented on #2789
@mariobehling i am working on it

[2020-01-17 05:16] NitinBhasneria commented on #3056
Actually I am not confirmed if this issue is valid. If you know then you can go ahead.

[2020-01-17 05:20] akshatnitd commented on #2851
This issue has been resolved. Hence, closing it.

[2020-01-17 05:20] #2851 closed

[2020-01-17 05:22] akshatnitd commented on #2347
@Dilshaad21 Material-UI has a primary and secondary color configured at the theme-level. We need to pass the primary and secondary color of SUSI.AI while instantiating the theme object so that we do not need to explicitly set the primary color for each and every component.

[2020-01-17 06:21] akshatnitd commented on #3056
@NitinBhasneria @altaha-ansari Yes, it is a valid issue. Also, can you use `+` icon in-place of `Create` in mobile view?

[2020-01-17 06:26] NitinBhasneria commented on #3056
Ok so I will be working on it. And wiol certainly complete it by a day or two.

[2020-01-17 06:28] altaha-ansari commented on #3056
@NitinBhasneria ohk but if you won't later, then do notify.

[2020-01-17 07:33] NitinBhasneria commented on #3056
Ok then you can work on this issue I am leaving it.

[2020-01-17 10:14] mariobehling commented on #3056
No need.

[2020-01-17 10:14] #3056 closed

[2020-01-17 11:37] poojagl85 commented on #3073
@akshatnitd please review

[2020-01-17 13:22] NimishGopal commented on #3008
@anishagg17 Are you working on it? If not, please give me a go-ahead.

[2020-01-17 13:23] NimishGopal commented on #2865
@shagunarora Are you working on it? If not, please give me a go-ahead.

[2020-01-17 13:30] NimishGopal commented on #2865
@shagunarora I've solved the issue. So if you're not working on it. Please let me know. I'll raise a PR.

[2020-01-17 14:02] anishagg17 opened #3303 "unexpected site crash"
**Actual Behaviour**

when skillByCommitId is undefined the site crashes

**Screenshots of the issue**

![Screenshot 2020-01-17 at 2 16 07 PM](https://user-images.githubusercontent.com/43617894/72617867-ee3ef080-395f-11ea-9373-e6504a63ee08.png)

**Would you like to work on the issue?**

Yes

[2020-01-17 15:37] Dishebh opened #3304 "Button overflow"
**Actual Behaviour**
The `Create Skill` button overflows on Dashboard page on small screens.

**Expected Behaviour**
The button should not overflow.

**Steps to reproduce it**
- Login and go to on dashboards page.
- Check the page on small screens, you will see the button overflow in x-direction.

**Screenshots of the issue**
![Screenshot from 2020-01-17 16-52-47](https://user-images.githubusercon

[2020-01-17 15:42] #3292 closed

[2020-01-17 16:36] anishagg17 opened #3306 "skill name is not correctly displayed"
**Actual Behaviour**

skill name is not correctly displayed

**Expected Behaviour**

there shouldn't be any underscores in name

**Screenshots of the issue**

![Screenshot 2020-01-17 at 11 24 24 PM](https://user-images.githubusercontent.com/43617894/72634396-81881e00-3980-11ea-80f7-dda8acfc693b.png)

**Would you like to work on the issue?**

Yes

[2020-01-17 16:57] anishagg17 opened #3308 "ui of page not found can be improved to a great extent"
**Expected Behaviour**

page not found can be improved to a great extent

**Would you like to work on the issue?**

Yes

[2020-01-17 20:35] #3008 closed

[2020-01-17 23:10] rico-et22 opened #3309 ""Scroll to top" floating action button is covered up by skillcard elements"
**Actual Behaviour**
The "scroll to top" floating action button (`ScrollToTop` component) is being covered up by some skill card elements, such as image, comment and stars. This happens due to z-index problems

**Expected Behaviour**
The "scroll to top" button should go over these elements, being clearly visible all the time

**Steps to reproduce it**
- Start a susi.ai server
- Open a local susi.a

[2020-01-18 04:19] anishagg17 commented on #3309
A pr, issue has already been made to fix it please close this issue
Reffer to #3250

[2020-01-18 05:46] aryanguls opened #3311 "Update Languages of Installation Files for SUSI.AI"
**Actual Behaviour**
As of now the installation guides for SUSI.AI come in only a few languages. This makes it difficult for users to understand the various installation guides due to lack of fluency in available languages.

**Expected Behaviour**
SUSI.AI should have all installation guides in various popular languages so that all people regardless of their language choices can use the guides prov

[2020-01-18 06:15] anishagg17 opened #3314 "replace unnecessary instances of GoogleApiWrapper"
**Actual Behaviour**

there are instances of GoogleApiWrapper

**Expected Behaviour**

they should be replaceed with HOC

**Would you like to work on the issue?**

YEs

[2020-01-18 06:45] Dishebh commented on #3298
@anishagg17 if you're not working, can I take up this issue pls?

[2020-01-18 06:55] Dilshaad21 opened #3315 "Improve content-loader when skills are searched"
**Actual Behaviour**

Currently, when skills are searched in the search bar the same content-loader which is used in the landing page seem to appear.

**Expected Behaviour**

Improve the content loaders.

**Would you like to work on the issue?**

Yes

[2020-01-18 08:05] anishagg17 opened #3316 "Invalid prop `actions[0]` supplied to `MaterialTable`"
**Actual Behaviour**

an error Invalid prop `actions[0]` supplied to `MaterialTable` occurs

**Screenshots of the issue**

![Screenshot 2020-01-18 at 1 28 19 PM](https://user-images.githubusercontent.com/43617894/72660715-5bea2b80-39f7-11ea-8dae-8888e2608142.png)

**Would you like to work on the issue?**

Yes

[2020-01-18 08:55] #3290 closed

[2020-01-18 09:07] #2996 closed

[2020-01-18 09:07] #3059 closed

[2020-01-18 09:11] #3303 closed

[2020-01-18 09:12] #3309 closed

[2020-01-18 09:23] #3314 closed

[2020-01-18 09:34] #3249 closed

[2020-01-18 09:47] #3316 closed

[2020-01-18 09:52] syed-sameer1 commented on #3308
can I work on it.?

[2020-01-18 10:05] anishagg17 commented on #3308
I am working on it

[2020-01-18 10:05] anishagg17 commented on #3308
I am working on it

[2020-01-18 10:06] #3259 closed

[2020-01-18 10:07] anishagg17 commented on #3298
Bro I am working on it

[2020-01-18 10:08] Dilshaad21 opened #3319 "Use Circular Progress wherever required"
**Expected Behaviour**

Use `Circular Progress` wherever needed.

**Would you like to work on the issue?**

Yes

[2020-01-18 10:18] syed-sameer1 commented on #3301
can I work on it.?

[2020-01-18 11:14] anishagg17 commented on #3301
Okay no problem

[2020-01-18 17:00] Dishebh opened #3321 "Adjust the social profiles buttons"
**Actual Behaviour**
The social profile buttons aren't responsive with the page.

**Expected Behaviour**
The social profile icons should adjust their alignment as and when the page resolution changes.

**Steps to reproduce it**
- Go to the `Share On the Social Media` option in settings and tune the screen resolutions.

**Screenshots of the issue**
![Screenshot from 2020-01-18 21-47-30](https://use

[2020-01-18 17:09] arghac14 commented on #3321
@Dishebh can I work on this?

[2020-01-18 17:12] Dishebh commented on #3321
@arghac14 Pls wait until the pr gets reviewed. Till then, you can find another issue to work on. Thanks.

[2020-01-18 18:00] NimishGopal commented on #2880
@kpulkit29 if you are not working on this can I go ahead?

[2020-01-18 19:24] #3306 closed

[2020-01-18 20:17] kpulkit29 commented on #2880
Sure

[2020-01-19 04:07] #3296 closed

[2020-01-19 07:31] tobehonest opened #3326 "Fixing issues regarding social icons in 'Share about SUSI' menu"
**Actual Behavior**
Here are few problems in this menu :
1. The text box does not cover problem space.
2. Hovering on social media icons works in Firefox but not on chrome.
3. The hover actions(in Firefox) and click actions doesn't match.

**Expected Behavior**

1. Text box must cover at least 90% of the box
2. Hover actions must be same for both the browsers, in chrome no hovering action is seen.

[2020-01-19 12:39] tobehonest opened #3328 "Non-uniformity in share susi menu"
**Actual Behaviour**

Share Susi.Ai menu is not formatted as other menus are.

**Expected Behaviour**

Uniformity must be their in all menu present in settings.

**Steps to reproduce it**

Goto - Settings->share susi ai

**Screen Shots:**
![Screenshot from 2020-01-19 18-05-31](https://user-images.githubusercontent.com/42002993/72681118-7d761080-3ae6-11ea-904e-f7f2e9ba330d.png)
![Screenshot from 20

[2020-01-19 12:56] Akshit-Patel commented on #3326
if it's open for a grab, can i work on this?

[2020-01-19 13:01] anishagg17 opened #3330 "Take care of minorities"
**Actual Behaviour**

In code there are various places where map function is implemented without checks

**Expected Behaviour**

checks should be performed

**Would you like to work on the issue?**

Yes

[2020-01-19 13:10] tobehonest commented on #3326
@Akshit-Patel I have already made a pull request for this issue. Till then, you can find another issue to work on. Thanks.

[2020-01-19 15:36] Dishebh opened #3332 "Subheadings overlap in left menu"
**Actual Behaviour**
When scrolled down, the subheadings in the left menu overlap over each other

**Expected Behaviour**
The subheadings should not overlap over each other

**Steps to reproduce it**
- Go to the Home page and change the screen resolution to mobile.
- Open the left menu and scroll down to see the error.

**Screenshots of the issue**
![Screenshot (47)](https://user-images.githubuser

[2020-01-19 16:13] anishagg17 opened #3334 "huge space in message section of admin tab"
**Actual Behaviour**

huge space in message section of admin tab

**Steps to reproduce it**

goto admin section -> messages

**Screenshots of the issue**

![Uploading Screenshot 2020-01-19 at 9.42.48 PM.png…]()

**Would you like to work on the issue?**

Yes

[2020-01-19 17:33] madilraza opened #3337 "deployment on aws"
**Actual Behaviour**

**Expected Behaviour**

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

[2020-01-19 17:34] madilraza opened #3338 "deployment on azure"
**Actual Behaviour**

**Expected Behaviour**

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

[2020-01-19 17:34] madilraza opened #3339 "devops and databases for susi.ai"
**Actual Behaviour**

**Expected Behaviour**

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

[2020-01-19 18:33] #3242 closed

[2020-01-19 19:32] NimishGopal commented on #2880
Not able to reproduce, can someone help me out here?

[2020-01-20 05:31] akshatnitd commented on #3304
This issue is invalid. We don't need to check screen sizes less than 320px.

[2020-01-20 05:31] #3304 closed

[2020-01-20 05:34] #3168 closed

[2020-01-20 16:22] tobehonest opened #3343 "Scroll up button misbehaves"
**Actual Behaviour**
![Screenshot from 2020-01-20 13-32-26](https://user-images.githubusercontent.com/42002993/72742105-0cf6ee80-3bcf-11ea-8895-14d6bcb1ee70.png)

**Expected Behaviour**

Scroll up button should be hidden in such cases

**Would you like to work on the issue?**

Yes

[2020-01-20 18:09] #3321 closed

[2020-01-20 20:37] plxity opened #3345 "Date overlaps search field."
**Actual Behaviour**

Date overlaps the search field.
![Screenshot from 2020-01-21 02-00-43](https://user-images.githubusercontent.com/28510494/72756284-bc918800-3bf2-11ea-9751-ff0385c6302d.png)

**Expected Behaviour**

The date should not overlap the search field.

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**
Yes, I am

[2020-01-20 21:24] plxity opened #3347 "Fix forgot password modal in 'password' tab of settings."
**Actual Behaviour**

As of now when a user opens the password tab in settings and clicks on forgot your password link. The modal opens up which shows an option for login. This option should not be visible as user is already logged in.
![Screenshot from 2020-01-21 02-41-08](https://user-images.githubusercontent.com/28510494/72758533-1ac16980-3bf9-11ea-81f2-b9a3ea1aa6f1.png)

![Screenshot from 2020

[2020-01-20 21:40] plxity opened #3349 "Fix padding and non uniform hover effect in navigation bar."
**Actual Behaviour**

There is nonuniform padding and hover effect on navbar elements.
**Expected Behaviour**

There should be uniform padding and hover effect.

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

![Screenshot from 2020-01-21 03-06-27](https://user-images.githubusercontent.com/28510494/72759336-6b39c680-3bfb-11ea-8705-8f3552c51482.png)

**Would you l

[2020-01-21 10:05] Dilshaad21 opened #3350 "Bug in passed avatar link for image preview"
**Actual Behaviour**

Currently, the avatar link passed to get `avatarThumbnail` is having bugs. As a result, the image is not rendered properly

**Expected Behaviour**

Resolve the avatar link to get the correct image preview url wherever its used.

**Screenshots of the issue**

![Screenshot from 2020-01-21 15-25-24](https://user-images.githubusercontent.com/45489945/72795074-074ae880-3c63-11ea-8

[2020-01-21 14:28] meliodas113 opened #3351 "****Actual** Behaviour**"
****Actual** Behaviour**

**Expected Behaviour**

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

[2020-01-21 14:29] #3351 closed

[2020-01-21 14:33] meliodas113 opened #3352 "Navigation not visible properly in various devices."
**Actual Behaviour**

Navigation bar is not completely responsive.

**Expected Behaviour**

Navigation bar should be completely responsive in all devices.

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

![Screenshot 2020-01-21 at 8 01 58 PM](https://user-images.githubusercontent.com/46742717/72813227-0167fe00-3c89-11ea-9a79-00bc71436cbf.png)

![Screenshot 2020-0

[2020-01-21 15:59] #3308 closed

[2020-01-21 16:07] #3088 closed

[2020-01-21 16:43] Dishebh commented on #3253
@Dilshaad21 @anushkamittal can I take this up?

[2020-01-21 16:45] Dishebh commented on #3285
@kpulkit29 can i take up the issue?

[2020-01-21 17:45] anishagg17 opened #3354 "travis ci gives warnings"
**Actual Behaviour**

travis cli gives warnings

**Screenshots of the issue**

![Screenshot 2020-01-21 at 11 14 57 PM](https://user-images.githubusercontent.com/43617894/72828997-db038c00-3ca3-11ea-9927-13898f23c26e.png)

**Would you like to work on the issue?**

yes

[2020-01-21 18:28] Dilshaad21 opened #3356 "Improve create bot page"
**Actual Behaviour**

While creating a bot user can pass to next steps without filling the current one.

**Expected Behaviour**

User should not be allowed to pass to next steps without filling the current one.

**Screenshots of the issue**

![Screenshot from 2020-01-21 23-54-01](https://user-images.githubusercontent.com/45489945/72831986-ed80c400-3ca9-11ea-8602-a8bbeecf8750.png)

**Would you like

[2020-01-22 06:15] #3330 closed

[2020-01-22 06:27] #3315 closed

[2020-01-22 06:59] #3319 closed

[2020-01-22 07:07] Dishebh commented on #2960
@plxity can i take this issue? Also, the link mentioned description doesn't load up, can you pls update it as well?

[2020-01-22 07:14] Dishebh commented on #3093
@paras151 can i work on the issue?

[2020-01-22 07:44] kpulkit29 commented on #3285
I am working on it

[2020-01-22 08:45] #3073 closed

[2020-01-22 13:17] anishagg17 opened #3360 "Theme does not get fully reset"
**Actual Behaviour**

Theme does not get fully reset to original on setting it to light

**Screenshots of the issue**

![Screenshot 2020-01-22 at 6 46 39 PM](https://user-images.githubusercontent.com/43617894/72897241-887bab80-3d47-11ea-80d7-bd42c0e6688f.png)

**Would you like to work on the issue?**

Yes

[2020-01-22 14:08] anishagg17 opened #3362 "various console errors"
**Actual Behaviour**

there are some errors needed to be removed

**Screenshots of the issue**

![Screenshot 2020-01-22 at 7 27 20 PM](https://user-images.githubusercontent.com/43617894/72900873-ac8ebb00-3d4e-11ea-9ea8-91239d44cdae.png)

![Screenshot 2020-01-22 at 7 20 44 PM](https://user-images.githubusercontent.com/43617894/72900883-b0224200-3d4e-11ea-994f-2a4c0867182e.png)

![Screenshot 2020-01

[2020-01-22 18:07] Dishebh commented on #2865
@NimishGopal @samagragupta can i take the issue, if it is up for grabs?

[2020-01-22 19:25] #3345 closed

[2020-01-22 20:19] anishagg17 opened #3365 "Improve blog card"
**Expected Behaviour**

Blog card should be toggled to render itself completely

**Would you like to work on the issue?**
Yes

[2020-01-23 05:23] #3354 closed

[2020-01-23 05:25] Dilshaad21 opened #3366 "Scrolltopbutton should not appear when modal is open"
**Actual Behaviour**

Currently `ScrollTopButton` appears when a Modal is open.

**Expected Behaviour**

It should not appear in that case.

**Would you like to work on the issue?**

Yes

[2020-01-23 05:37] kpulkit29 commented on #3352
@meliodas113 This is a duplicate issue.The original one is    #3048. Kindly close this. Please don't create3 duplicate issues.

[2020-01-23 05:43] kpulkit29 commented on #3209
@anishagg17 Can I work on this issue?

[2020-01-23 06:23] meliodas113 commented on #3048
Hi. Can I work on this issue?

[2020-01-23 07:17] Dilshaad21 opened #3368 "Reduce code redundancy"
**Actual Behaviour**

Lots of redundant code is present in many files.

**Expected Behaviour**

Reduce redundancy as much as possible.

**Would you like to work on the issue?**

Yes

[2020-01-23 07:20] anishagg17 commented on #3209
Kk bro

[2020-01-23 07:25] Dilshaad21 opened #3369 "Make separate file to hold styles"
**Actual Behaviour**

Currently, styles of a component are kept in that file itself.

**Expected Behaviour**

It can be kept in a separate styles file for a better project structure.

**Would you like to work on the issue?**

Yes

[2020-01-23 07:57] samagragupta commented on #2865
@Dishebh Sure

[2020-01-23 09:11] NimishGopal commented on #2865
@samagragupta This is solved. Will raise a PR.

[2020-01-23 13:47] tobehonest commented on #3366
already an issue : https://github.com/fossasia/susi.ai/issues/3343

[2020-01-23 13:53] tobehonest opened #3371 "Main page image slider needs improvements."
**Actual Behaviour**

The image slider doesn't appeal and the buttons have limited area of clicking.
If you click above or below another link opens which have possibility of navigating to next/previous images link.

**Expected Behaviour**

Only navigation to the current displayed image or info must be done.

**Steps to reproduce it**

Main page -> try to slide images -> Click on top/botton of the

[2020-01-23 13:53] tobehonest commented on #3371
@akshatnitd

[2020-01-23 16:52] kpulkit29 commented on #3048
Go ahead

[2020-01-23 16:54] snitin315 commented on #3371
@tobehonest please Provide screenshots/GIF in support of your issue.

[2020-01-23 16:59] kpulkit29 opened #3372 "Progressive Image rendering in Teams page"
**Actual Behaviour**

No progressive rendering on team page

**Expected Behaviour**

Since there are a lot of images on the teams page it would be better if there is progressive rendering

**Would you like to work on the issue?**
Yes

[2020-01-23 17:03] Dilshaad21 commented on #3369
@akshatnitd what do you think about it, moving all the `styled components` to a separate file.

[2020-01-23 17:18] Akhil-Kashyap opened #3373 "Drop down menu doesn't close when clicked."
**Actual Behaviour**

When we click on the options in drop down menu the background page refreshes to the respective link but the drop down menu still remains intact and does not collapse.

**Expected Behaviour**

The drop down menu should collapse on click and the page loads in the background.

**Steps to reproduce it**

Login on the page and click on the drop down menu. Click on any of the optio

[2020-01-23 17:22] AuraOfDivinity commented on #3048
@meliodas113  Sure!

[2020-01-23 17:27] #3372 closed

[2020-01-23 17:33] meliodas113 commented on #3048
Thank you.

[2020-01-23 17:52] anishagg17 opened #3376 "Subscriptions cleanup required"
**Expected Behaviour**

Subscriptions cleanup required is required to prevent memory leaks

**Screenshots of the issue**
![Screenshot 2020-01-23 at 11 21 33 PM](https://user-images.githubusercontent.com/43617894/73009727-1b474380-3e37-11ea-8ac1-be151d0fffd4.png)

**Would you like to work on the issue?**

Yes

[2020-01-23 18:04] #3360 closed

[2020-01-23 18:05] #3352 closed

[2020-01-23 18:06] #3048 closed

[2020-01-23 18:11] kpulkit29 opened #3378 "Click on filters button not working properly (Mobile)"
**Actual Behaviour**

When  somebody clicks to slightly  left of the filter button (outside the button) the sidemenu opens up.

**Expected Behaviour**

Side menu should open only when clicked on the button

**Steps to Reproduce**
    - Open the homepage in mobile
    - Click to slightly left of filter button

**Screenshots**
<img width="347" alt="Screenshot 2020-01-23 at 11 35 01 PM" src="https://

[2020-01-23 18:52] plxity opened #3379 "Unnecessary scroll bar present in speech tab in settings."
**Actual Behaviour**

When clicked on 'speech' tab in settings unnecessary scroll bar adds up in the x-direction.
![Screenshot from 2020-01-24 00-18-29](https://user-images.githubusercontent.com/28510494/73014059-8268f600-3e3f-11ea-822e-2b180f697c29.png)

**Expected Behaviour**

There should not be a scroll bar in the x-direction.

**Steps to reproduce it**

**Would you like to work on the issue?*

[2020-01-23 22:34] meliodas113 opened #3380 "Unnecessary content behind "Share about SUSI" model"
**Actual Behaviour**

As soon as share button is clicked "Share about SUSI" modal opens but there are some contents of home page appearing behind it.

**Expected Behaviour**

Home page content should not be visible behind the modal.

**Steps to reproduce it**

Click on the share button on the replies given by the bot.

**Screenshots of the issue**

![Screenshot 2020-01-24 at 4 00 10 AM](https://us

[2020-01-24 08:42] tobehonest opened #3381 "Issues with dark theme."
**Actual Behaviour**

![dark1](https://user-images.githubusercontent.com/42002993/73055708-67d06480-3eb3-11ea-869a-e86032874fa2.png)
![dark2](https://user-images.githubusercontent.com/42002993/73055710-67d06480-3eb3-11ea-9a11-b4a7baac662d.png)

**Expected Behaviour**

Drop down menu should not seem to be clicked or hovered on when not. This is due to transparency of the menu.
The Text box around t

[2020-01-24 08:43] tobehonest commented on #3381
@akshatnitd Please review this issue.

[2020-01-24 08:51] tobehonest commented on #3381
Closing due to similar issue : https://github.com/fossasia/susi.ai/pull/3032

[2020-01-24 08:51] #3381 closed

[2020-01-24 11:21] Dilshaad21 opened #3382 "Console errors in AccountTab"
**Actual Behaviour**

There are many console errors in Account Tab section.

**Expected Behaviour**

Fix those errors

**Screenshots of the issue**

![Screenshot from 2020-01-24 16-47-29](https://user-images.githubusercontent.com/45489945/73065485-a8d37380-3ec9-11ea-9bf4-3beaf9af2264.png)

**Would you like to work on the issue?**

Yes, I'm working on this

[2020-01-24 11:51] Dilshaad21 commented on #2730
I'm working on this

[2020-01-24 14:38] Dishebh commented on #3270
@anishagg17 can i take the issue?

[2020-01-24 16:02] anishagg17 commented on #3382
please close this issue too..

[2020-01-24 16:13] #3382 closed

[2020-01-24 16:29] anishagg17 opened #3385 "No footer in settings tab"
**Expected Behaviour**

there should be footer in settings tab too

**Would you like to work on the issue?**

YES

**Screenshots of the issue**

![Screenshot 2020-01-24 at 9 58 46 PM](https://user-images.githubusercontent.com/43617894/73085434-b4885f80-3ef4-11ea-95cc-dce479ea56e5.png)

[2020-01-24 16:33] anishagg17 commented on #3378
@kpulkit29 may i work over this issue?

[2020-01-24 16:41] Dilshaad21 opened #3387 "Try-catch needed to catch errors"
**Actual Behaviour**

Currently `try-catch` is missing in many places where it's needed.

**Expected Behaviour**

Use `try-catch` at those places.

**Would you like to work on the issue?**

Yes, I'm working on it.

[2020-01-24 16:47] kpulkit29 commented on #3378
Actually @anishagg17 I have made the changes, just have to raise the PR.

[2020-01-25 07:38] #2702 closed

[2020-01-25 07:45] #3350 closed

[2020-01-25 07:47] #3385 closed

[2020-01-25 12:46] Dishebh opened #3390 "website responding with 404"
**Actual Behaviour**
Currently, the website responds with 404

**Expected Behaviour**

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**
![Screenshot from 2020-01-25 18-14-49](https://user-images.githubusercontent.com/43489708/73121311-d4745d80-3f9e-11ea-9bf1-9e7ea512d5c0.png)

**Would you like to work on the issue?**

[2020-01-25 13:13] Dilshaad21 commented on #3390
@Dishebh close this issue as a PR which reverts the commit is already made.

[2020-01-25 13:18] #3390 closed

[2020-01-25 19:16] plxity opened #3392 "Fix alignment is mobile view."
**Actual Behaviour**

![Screenshot from 2020-01-26 00-45-01](https://user-images.githubusercontent.com/28510494/73126147-32239c80-3fd5-11ea-85a9-f79bf82dda44.png)

**Expected Behaviour**

It should be properly aligned.

**Would you like to work on the issue?**

Yes, I am working on it.

[2020-01-26 18:28] #3311 closed

[2020-01-27 11:55] kunakl07 commented on #2798
Hi @fragm3
I would like to contribute to this issue
 can I contribute to this issue?

[2020-01-27 11:57] kunakl07 commented on #3337
Yes I would like to work on this issue
Could you please give me guidance from where to start.

[2020-01-27 12:06] kunakl07 commented on #3288
I like to contribute towards this issue.
Could you please guide me further

[2020-01-27 12:14] snitin315 commented on #3288
@kunakl07 I have already made PR for the issue ,  you can check on some other issues.

[2020-01-28 09:45] anishagg17 opened #3396 "remove unnecessary script tags from index.html"
**Expected Behaviour**

remove unnecessary script tags from index.html

**Would you like to work on the issue?**
yes

[2020-01-28 13:01] Dishebh opened #3398 "Add space in the button text"
**Actual Behaviour**
Currently, there is no space in the button text `SaveChanges`.

**Expected Behaviour**
There should be space present between the text.

**LogCat for the issue**

**Screenshots of the issue**

![Screenshot from 2020-01-28 18-31-01](https://user-images.githubusercontent.com/43489708/73266170-61682280-41fc-11ea-83c8-4831f81b37fb.png)

**Would you like to work on the issue?**
Yes

[2020-01-29 19:25] manosriram opened #3400 "Forgot Password not working."
**Actual Behaviour**
After clicking the link sent to the mail and entering the new password, it just opens a white blank page.

**Expected Behaviour**
The Entered password must be updated as the new password and the user should be logged in.

**Steps to reproduce it**
1. Click on Login.
2. Click Forgot password.
4. Enter email and click reset.
4. Open the link sent to mail.
5. Enter new password a

[2020-01-29 20:43] anishagg17 opened #3402 "insensitive words in *.md files"
**Expected Behaviour**

http://alexjs.com/ is a tool to catch insensitive, inconsiderate or inappropriate writing per CLI.

Benefits are catching insensitive writing early on as well as possibly educate new contributors on that topic plus send an additional signal (to CoC etc.) that we are very committed to keep that project like that.

**Would you like to work on the issue?**

yes

[2020-01-30 21:02] mohitm15 opened #3403 "Unnecessary text on create skill card"
**Actual Behaviour**
The text on create card is barely visible and not looking aesthetic.

**Expected Behaviour**

Text should be removed as icon '+' is self-explanatory.

**Steps to reproduce it**
1. Go to your profile
2. Got to create skill.
3. See error

**LogCat for the issue**

**Screenshots of the issue**
![Screenshot 2020-01-31 02:22:38](https://user-images.githubusercontent.com/35539313/73

[2020-01-31 05:08] Dishebh commented on #3379
@plxity Are you still working on this? If not, can I take it?

[2020-01-31 05:35] Dishebh commented on #3347
@plxity are you still working on the issue? If not, can I take it? Seems to me you are already working on some other issue.

[2020-01-31 06:46] plxity commented on #3347
@Dishebh This is already fixed. The PR is merged.

[2020-01-31 06:46] #3347 closed

[2020-01-31 06:47] plxity commented on #3379
@Dishebh Yes, I'm working on this.

[2020-01-31 09:03] #3362 closed

[2020-01-31 09:18] #3392 closed

[2020-01-31 15:15] #3378 closed

[2020-01-31 15:26] #3396 closed

[2020-01-31 16:02] #3288 closed

[2020-01-31 16:34] #3398 closed

[2020-01-31 17:42] anishagg17 opened #3404 "refactor susi-chatbot.js"
**Expected Behaviour**

refactor susi-chatbot.js to ES6 and eliminate the use of jQuery.

**Proposed IN**
https://github.com/fossasia/susi.ai/pull/3397#pullrequestreview-351573920

**Would you like to work on the issue?**
yes

[2020-02-01 06:14] Dilshaad21 opened #3406 "Use functional components where state-less components are required"
**Actual Behaviour**

Currently, class-based components are used in many places even when the components are state-less.

**Expected Behaviour**

Replace those class components with functional components.

**Would you like to work on the issue?**

Yes, I'm working on this

[2020-02-01 11:21] #3387 closed

[2020-02-01 12:30] mohitm15 opened #3409 "Upgrade npm dependencies to latest version."
**Actual Behaviour**
Upgrade npm from the current version: 6.13.4 to version: 6.13.7

**Expected Behaviour**
Update it to version : 6.13.7

**Would you like to work on the issue?**
Yes

[2020-02-01 14:31] mohitm15 opened #3411 "Missing disable action on status dropdown in myskills section"
**Actual Behaviour**
Missing disable action on the status dropdown in `myskills` section in

**Expected Behaviour**
To introduce `disable status` option in the dropdown

**Steps to reproduce it**
1. Go to my profile
2. Click on MySkills.
3. Click on status option
4. See Error

**Screenshots of the issue**

![Screenshot 2020-02-01 19:58:38](https://user-images.githubusercontent.com/35539313/7359376

[2020-02-02 05:17] Dilshaad21 opened #3412 "Refactoring class-based components"
**Actual Behaviour**

Currently in many class-based components state is initilised using `this.state` in a constructor, it can be replaced with new features such as declaring just the state.

**Reference**: https://stackoverflow.com/questions/51118103/this-state-vs-state-in-react

**Expected Behaviour**

It will reduce many lines of code.

**Would you like to work on the issue?**

Yes, I'm working

[2020-02-02 12:16] mohitm15 commented on #2985
@Dilshaad21 You should open this issue in a relevant repo and close this one

[2020-02-02 12:28] mohitm15 opened #3413 "Unnecessary entry in the submenu of "SUSI skills"."
**Actual Behaviour**
Unnecessary entry named `en` (Last entry)  is present in the submenu of `susi skills`.

**Expected Behaviour**
Needs to be removed from the submenu.

**Steps to reproduce it**
1. Go to Home Page
2. See Error

**Screenshots of the issue**
![Screenshot 2020-02-02 17:55:44](https://user-images.githubusercontent.com/35539313/73608163-61de3000-45e5-11ea-89be-408ea0c3ff76.png)

**Wo

[2020-02-02 16:36] #3332 closed

[2020-02-02 16:41] #3334 closed

[2020-02-02 16:48] #3326 closed

[2020-02-02 16:48] #3328 closed

[2020-02-02 16:57] #3349 closed

[2020-02-02 17:12] #3406 closed

[2020-02-02 17:25] #3365 closed

[2020-02-02 19:06] simranaggarwal1999 commented on #3413
Hey! Is this issue up to be rectified? May I work upon it?

[2020-02-03 06:38] mohitm15 commented on #3413
@simranaggarwal1999 Go ahead

[2020-02-03 07:55] anishagg17 commented on #3093
@paras151 can i work on the issue?

[2020-02-03 11:20] anishagg17 commented on #3093
@paras151 i want to work on the issue?

[2020-02-03 12:17] anishagg17 opened #3415 "Blank message shown in chat with susi"
**Actual Behaviour**

Blank message is shown  for some queries in chat with susi

**Steps to reproduce it**

type
 compute 4+a
in chat with susi

**Screenshots of the issue**
![Screenshot 2020-02-03 at 5 46 56 PM](https://user-images.githubusercontent.com/43617894/73652542-2dce4200-46ad-11ea-8426-6dfa0a8829be.png)

**Would you like to work on the issue?**
Yes

[2020-02-03 12:53] mohitm15 opened #3417 "Search model is not working for chat bot."
**Actual Behaviour**
The search message functionality is not working on the chatbot. As soon as we search message it directs to a blank resource page.

**Expected Behaviour**
It should display/ highlight the searched message.

**Steps to reproduce it**
1. Open SUSI chatbot.
2. Search for a message.
3. See error.

**Screenshots of the issue**
![ezgif com-video-to-gif](https://user-images.githubuser

[2020-02-03 13:05] mohitm15 opened #3418 "Multiple Options can be selected from language drop-down."
**Actual Behaviour**
Multiple options can be selected from language dropdown.

**Expected Behaviour**
Only a  single option should be selected from the drop-down.

**Steps to reproduce it**
1. Go to Home page.
2. Select Language dropdown.
3. Click on more than one option.
4. See error

**Screenshots of the issue**
![ezgif com-video-to-gif1](https://user-images.githubusercontent.com/35539313/736553

[2020-02-03 13:33] akshatnitd commented on #3418
It is a feature.

[2020-02-03 13:33] #3418 closed

[2020-02-03 13:49] mohitm15 commented on #3418
but we can view the page in a single language at one time.
@akshatnitd

[2020-02-03 15:00] mohitm15 opened #3420 "Correction in Project_Information.md"
**Actual Behaviour**

Correction of word spelling in above-mentioned file.
Quoted:  "used **anomymously** or as a logged"

**Expected Behaviour**

Need to correct the spelling.
Corrected:  "used **anonymously** or as a logged"

**Steps to reproduce it**

1. Go to Project_Information.md
2. See error at line no 16.

**Would you like to work on the issue?**
Yes

[2020-02-03 17:03] elit-altum commented on #3343
Along with this, the scroll to bottom button keeps on displaying on mobile screens even when the chat is at the bottom
![ScrollBottomNotWorking](https://user-images.githubusercontent.com/41413622/73673748-376ba000-46d5-11ea-8e2f-97f1245bdb7f.PNG)

[2020-02-03 17:28] ShubhamChaudharyy opened #3423 "Chatbot Showing Map in russian Language"
**Actual Behaviour**

![Screenshot (159)](https://user-images.githubusercontent.com/43263087/73675523-8f57d600-46d8-11ea-9afe-5e60dfd7aba0.png)

**Expected Behaviour**

should be mentioning map assets in English

**Steps to reproduce it**

1. Type Where is india

**Would you like to work on the issue?**

Yes

[2020-02-04 04:56] #3298 closed

[2020-02-04 04:56] #3299 closed

[2020-02-04 07:00] plxity opened #3425 "Improve the alignment of text and button"
**Actual Behaviour**

![Screenshot from 2020-02-04 12-28-00](https://user-images.githubusercontent.com/28510494/73721274-e4800000-4749-11ea-9447-95e133788f0b.png)

**Expected Behaviour**
Improve the alignment of text and button.

**Would you like to work on the issue?**

Yes, I am working on this.

[2020-02-04 07:04] plxity opened #3426 "Scroll to top button should not be visible in mobile view when Susi chat model is open."
**Actual Behaviour**

![Screenshot from 2020-02-04 12-27-23](https://user-images.githubusercontent.com/28510494/73721539-80aa0700-474a-11ea-8047-96d0c0ed1b0b.png)

**Expected Behaviour**

Scroll to top button should not be visible.

**Steps to reproduce it**

1) Scroll the page
2) Open the SUSI chat in mobile view.

**Would you like to work on the issue?**

Yes, I am working on this.

[2020-02-04 09:42] #3426 closed

[2020-02-05 20:20] anishagg17 opened #3429 "No functionality to hide chat with susi button"
**Actual Behaviour**
No unctionality to hide chat with susi button

**Would you like to work on the issue?**
Yes

[2020-02-06 11:46] Dilshaad21 opened #3430 "Improve user dashboard"
**Actual Behaviour**

Currently many features are missing in the user dashboard section like sorting the skills, ratings and many more.

**Expected Behaviour**

Such features can be added to make it more user friendly.

**Would you like to work on the issue?**

Yes

[2020-02-06 13:09] mohitm15 commented on #3413
@simranaggarwal1999 Any updates?

[2020-02-06 14:29] simranaggarwal1999 commented on #3413
Not yet. I have to start working upon it.

[2020-02-06 16:52] #3429 closed

[2020-02-06 17:03] #3366 closed

[2020-02-06 17:10] #2960 closed

[2020-02-06 17:22] mohitm15 commented on #3253
@Dilshaad21 Non - reproducible

[2020-02-06 17:23] Dishebh commented on #3253
@Dilshaad21 pls close the issue. It has already been fixed.

[2020-02-06 18:04] anishagg17 opened #3431 "Turn class components into hook based components"
**Expected Behaviour**

Restructure the project

Turn class components into hook based components

**Would you like to work on the issue?**

YES

[2020-02-06 18:05] anishagg17 commented on #3423
please don't duplicate issue #3270

[2020-02-06 18:08] #3423 closed

[2020-02-07 04:08] #3404 closed

[2020-02-07 04:36] Dilshaad21 commented on #3253
I think this some problem related with the server. Closing.

[2020-02-07 04:36] #3253 closed

[2020-02-07 05:57] Dilshaad21 opened #3432 "Skill feedbacks not in order"
**Actual Behaviour**

Currently skill feedbacks are not sorted.

**Expected Behaviour**

Sort the feedbacks with respect to the last modified time.

**Screenshots of the issue**

![Screenshot from 2020-02-07 11-22-27](https://user-images.githubusercontent.com/45489945/74004754-bf370000-499c-11ea-8f97-723cb3cc49f8.png)

**Would you like to work on the issue?**

Yes

[2020-02-07 12:01] Dilshaad21 opened #3434 "The chat gives two responses for a single query"
**Actual Behaviour**

The webchat responds with two replies for a single message when in MOBILE view.

**Expected Behaviour**

It must reply once for a single query.

**Screenshots of the issue**

<img src="https://user-images.githubusercontent.com/45489945/74027814-f1615580-49ce-11ea-80af-4d397b49151a.gif" width="230" height="400" />

**Would you like to work on the issue?**

Yes

[2020-02-07 12:22] anishagg17 opened #3435 "No option for search in skill feedbacks"
**Actual Behaviour**
No option for search in skill feedbacks

**Would you like to work on the issue?**

Yes

[2020-02-07 16:06] #3356 closed

[2020-02-07 16:11] akshatnitd commented on #3435
What is the use-case and utility?

[2020-02-07 16:11] #3412 closed

[2020-02-07 16:15] anishagg17 commented on #3435
It can be used to find out someone's comment

[2020-02-08 02:35] #3415 closed

[2020-02-08 04:27] Dilshaad21 commented on #3435
I don't think this feature is needed.

[2020-02-08 04:32] Dilshaad21 commented on #2181
@akshatnitd I have made a [PR](https://github.com/fossasia/susi_server/pull/1451) in the server side to begin with this. Please view the changes.

[2020-02-08 05:31] tobehonest opened #3436 "Unnecessary scroll bars in settings page"
**Actual Behaviour**
Double scroll bars can be seen.
![unnscroll](https://user-images.githubusercontent.com/42002993/74079687-e8b95f80-4a60-11ea-84ad-52ca43eda388.png)
_(Chrome behaviour)_

**Expected Behaviour**
Overflow must be auto.

**Would you like to work on the issue?**
Yes

[2020-02-08 13:07] mohitm15 opened #3438 "Edit Theme functionality not working for chat bot"
**Actual Behaviour**

Theme remains same even after editing the theme for char bot.

**Expected Behaviour**

Theme should be changed

**Steps to reproduce it**
1. Go to Settings
2. Chose custom theme in Theme
3. Edit Theme
4. Now Open Chatbot
5. See error

**LogCat for the issue**

**Screenshots of the issue**

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/35539313/74085713-0

[2020-02-08 13:08] mohitm15 commented on #3438
Let me know if its related to server.

[2020-02-08 14:38] anishagg17 opened #3439 "Refactoring class-based components"
**Actual Behaviour**

Currently in many class-based components state is initilised using this.state in a constructor, it can be replaced with new features such as declaring just the state.

**Reference:** https://stackoverflow.com/questions/51118103/this-state-vs-state-in-react

**Expected Behaviour**
It will reduce many lines of code.

**Would you like to work on the issue?**

Yes, I'm working on

[2020-02-08 14:57] mohitm15 commented on #3439
Duplicate of #3412 . Close this issue @anishagg17

[2020-02-08 15:12] anishagg17 opened #3441 "site breaks on chating with susi"
**Actual Behaviour**

site breaks on chating with susi

**Steps to reproduce it**

try chatting with susi

**Screenshots of the issue**

![Hnet com-image](https://user-images.githubusercontent.com/43617894/74087545-6c03a100-4ab3-11ea-9eb5-b1a00c425904.gif)

**Would you like to work on the issue?**

Yes

[2020-02-09 13:02] anishagg17 commented on #2181
@akshatnitd I want to work on this issue on client-Side

[2020-02-09 13:25] Dilshaad21 commented on #2181
@anishagg17 I have done client part going to make a PR

[2020-02-09 13:26] #3441 closed

[2020-02-09 16:44] anishagg17 commented on #3439
That issue has been closed but wasn't fully solved

[2020-02-10 07:15] anishagg17 opened #3444 "Chatbot image disappears"
**Actual Behaviour**

Chatbot image disappears

**Steps to reproduce it**

goto saved bots

**Screenshots of the issue**

![Hnet com-image](https://user-images.githubusercontent.com/43617894/74128367-09211f80-4c03-11ea-821b-8f163f27e8c6.gif)

**Would you like to work on the issue?**

Yes

[2020-02-10 07:16] anishagg17 opened #3445 "make Chat-With-Susi button dragable"
**Expected Behaviour**

make Chat-With-Susi button dragable

**Would you like to work on the issue?**

Yes

[2020-02-10 07:33] anishagg17 opened #3446 "There are various errors in susi-chatbot.js"
**Actual Behaviour**

There are various errors in susi-chatbot.js

**Screenshots of the issue**

![Screenshot 2020-02-10 at 1 02 45 PM](https://user-images.githubusercontent.com/43617894/74129478-a3826280-4c05-11ea-87cb-102de246efb8.png)

**Would you like to work on the issue?**

Yes

[2020-02-10 18:46] #3439 closed

[2020-02-11 03:53] tobehonest opened #3449 "Improving navigation bar in mobile view"
**Actual Behaviour**

![073D045C-6946-440D-BEBF-2692315D1CFE](https://user-images.githubusercontent.com/42002993/74209955-d7b25d80-4caf-11ea-9910-7fdf2d56c011.jpeg)

![3D7EF94E-8248-4F57-B96E-E933A9CF429F](https://user-images.githubusercontent.com/42002993/74220802-89fd1b80-4cd6-11ea-94d4-c44e8f4f5f1a.jpeg)

**Expected Behaviour**

1. Padding between display pic and + icon needs to be reduced
2. D

[2020-02-11 05:23] #3436 closed

[2020-02-11 05:28] #3379 closed

[2020-02-11 09:51] tobehonest opened #3450 "Drop-down misalignment"
**Actual Behaviour**

![491B27B7-6A0F-412B-A1C0-E9BBD7E18A79](https://user-images.githubusercontent.com/42002993/74226054-dac64180-4ce1-11ea-85dd-dbd572c74f5a.jpeg)
![4261057A-8A31-462B-AFE1-DBD57DDC3ECD](https://user-images.githubusercontent.com/42002993/74226069-e1ed4f80-4ce1-11ea-8365-29b28465d3a7.jpeg)
![14C39F9C-AD7C-4CF0-BB75-61228D280204](https://user-images.githubusercontent.com/42002993/7

[2020-02-11 11:54] anishagg17 opened #3453 "turn into styled components"
**Expected Behaviour**

there are various components which need to be turned into styled components

**Would you like to work on the issue?**

YEs

[2020-02-11 13:57] tobehonest opened #3455 "Skill-Cards in grid not clickable."
** Actual Behaviour **
![Screenshot from 2020-02-11 19-21-56](https://user-images.githubusercontent.com/42002993/74242534-1f62d480-4d04-11ea-8b2d-a236e9ce7ee9.png)

**Expected Behaviour**

The text on the cards must be clickable like 'Anagrams'.

**Steps to reproduce it**

1. Click on All under Skills.
2. The list will be visible in List View
3. Click on grid view.
4. These cards can't be clicked

[2020-02-11 14:12] tobehonest opened #3456 "Problem with Skills Sidebar."
**Actual Behaviour**

On clicking any of the skill, in the side bar, all the skill options gets hidden. But on clicking back Susi Skills, all other skills aren't coming back.
( Comparing to the functionality of New Arrivals , this should happen )

**Expected Behaviour**

After clicking on any of the options in side bar (All , Arts and Beauty etc), the skills gets hidden.
On clicking "< My Skills"

[2020-02-11 15:22] #3432 closed

[2020-02-11 16:51] mohitm15 commented on #3455
Its non-reproducible @tobehonest and already being fixed.
See..
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/35539313/74258779-e3883900-4d1c-11ea-8962-e7392618fee4.gif)

[2020-02-11 16:53] tobehonest commented on #3455
@mohitm15 Please follow steps to reproduce it correctly.

[2020-02-11 17:32] mohitm15 commented on #3455
@tobehonest Thanks for clarification

[2020-02-11 17:46] mohitm15 opened #3458 "Display of unspecific number of Skill Card in grid-view."
**Actual Behaviour**
On selecting the option for selecting 50 cards , it shows more than 50 cards in the same page.

**Expected Behaviour**
It should display the specified number of skill cards in a single page.

**Steps to reproduce it**
1. Click on All under Skills.
2. The list will be visible in List View
3. Click on grid view icon.
4. Select `Skills per page` display option to 50.
5. See error

[2020-02-11 17:54] tobehonest commented on #3458
@mohitm15 Are you sure ? I see 41 cards. Please recheck this issue.

[2020-02-11 18:01] #3458 closed

[2020-02-11 19:17] Dishebh opened #3459 "Ensure text remains visible during webfont load"
**Actual Behaviour**

The font remains invisible until the webfont `material_icons.woff` loads.

**Expected Behaviour**

The easiest way to avoid showing invisible text while custom fonts load is to temporarily show a system font.

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

Yes

[2020-02-12 03:21] tobehonest commented on #3373
@Akhil-Kashyap Can i work on it?

[2020-02-12 03:36] tobehonest commented on #3343
This one is fixef

[2020-02-12 03:36] #3343 closed

[2020-02-12 04:01] tobehonest opened #3461 "Improving mobile sidebar/home page."
**Actual Behaviour**

![269D00F5-EA26-48FB-92A7-797201746006](https://user-images.githubusercontent.com/42002993/74301619-a43c0580-4d79-11ea-8b67-04024242ca26.jpeg)
![F3A97818-5D69-440C-8683-8D009A2CB3F0](https://user-images.githubusercontent.com/42002993/74301622-a736f600-4d79-11ea-9be8-92bc2af14fb2.jpeg)

**Expected Behaviour**

We must have either a sidebar or the categories on main page.

**Su

[2020-02-12 05:31] #3420 closed

[2020-02-12 06:54] Dishebh commented on #3461
@tobehonest yes, to me also it seems redundant to have both, the categories (at the bottom) and the side menu on the main page. Maybe we can remove the bottom menu, or the left menu (the left menu trigger button doesn't quite fit the website UI as well).

[2020-02-12 13:09] #3119 closed

[2020-02-12 14:28] #3446 closed

[2020-02-12 20:07] anishagg17 commented on #2745
@mariobehling i want to work on this issue?

[2020-02-12 20:08] anishagg17 commented on #72
@mariobehling i want to work on this issue

[2020-02-13 06:00] #2181 closed

[2020-02-13 10:40] #3459 closed

[2020-02-13 10:44] #3409 closed

[2020-02-13 12:40] adrijshikhar commented on #3434
@Dilshaad21 can i work on this?

[2020-02-13 14:48] Dilshaad21 commented on #3434
@adrijshikhar go ahead.

[2020-02-13 20:03] mohitm15 opened #3466 "Replacing text with their icons on navigation bar"
**Actual Behaviour**
Replacing the text `Create ` and `Login` on navigation bar.

**Expected Behaviour**
Added their icons

**Steps to reproduce it**
1. See Error at the navigation bar

**Screenshots of the issue**

![Screenshot 2020-02-14 01:32:58](https://user-images.githubusercontent.com/35539313/74473577-d52b5000-4ec9-11ea-8348-dc6ee69648b4.png)

![Screenshot 2020-02-14 01:33:36](https://user-

[2020-02-14 03:47] akshatnitd commented on #3466
This change is not required. It was intentionally not replaced with icons. Hence, closing the issue.

[2020-02-14 03:47] #3466 closed

[2020-02-14 03:48] mohitm15 commented on #3466
@akshatnitd okay ..just suggestions

_Sent from my VIBE K6 Power using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2020-02-14 07:44] AkashDhiman commented on #3456
Hi can i take this issue?

[2020-02-14 08:00] tobehonest commented on #3456
Akash i am working on it.

[2020-02-14 08:05] AkashDhiman commented on #3456
Okay, let me know if you need help, I already solved it in my local build.

[2020-02-14 09:54] #3455 closed

[2020-02-14 11:05] adrijshikhar commented on #3434
ok, how can i reproduce the bug?

[2020-02-14 11:44] #3449 closed

[2020-02-14 11:44] #3450 closed

[2020-02-14 12:52] tobehonest opened #3469 "Non clickable category reset links"
**Actual Behaviour**
The link should be clickable i.e Text with (susi skill)
![biggedprob](https://user-images.githubusercontent.com/42002993/74532830-2b45d500-4f56-11ea-8a82-d1bcf17b9f8d.gif)

The issue #3456 is subset of this one.Please check issue #3456 to make more sense of this issue.

**Expected Behaviour**

Clicking these should make user go to the main page where he can choose any category

[2020-02-14 13:14] tobehonest commented on #3456
Fixed this one. You may review :)

[2020-02-14 17:00] Dilshaad21 commented on #3434
- Firstly open it in mobile view
- Then go to any of the skill cards.
- Click on any of the examples in `SkillExampleBubble`

[2020-02-14 17:40] adrijshikhar commented on #3434
I did this but i did not get 2 responses.
I will try again.

[2020-02-14 17:49] mohitm15 opened #3471 "Spelling twerk in Privacy Policy SUSI"
**Actual Behaviour**
Some Spelling twerk in Privacy Policy SUSI.

**Expected Behaviour**
Need to be Corrected

**Steps to reproduce it**
1. Go to the footer.
2. See the privacy option.

**Would you like to work on the issue?**
Yes

[2020-02-15 07:14] MuhammadWasif opened #3475 "Responsive Grid in Blog Page"
**Actual Behaviour**
The blog page has large posts that take over the whole screen in laptops or desktops. The page has a very large image of blog and covers the whole screen

**Expected Behaviour**
The blog should have a responsive grid system. A nice looking blog page in mobile devices as well as on big screens

**Steps to reproduce it**
Go to `susi.ai/blog` and you will see the inappropriate in

[2020-02-15 17:06] adrijshikhar commented on #3434
I am unable to reproduce the bug.
I clicked on the following example skill cards and i got only one response
![Screenshot_20200215_223400](https://user-images.githubusercontent.com/41939219/74592055-8275a380-5043-11ea-91de-4d89b6c56f75.png)

[2020-02-15 18:01] #3096 closed

[2020-02-15 18:21] adrijshikhar commented on #3369
@Dilshaad21 is this issue open for solving?

[2020-02-15 18:35] elit-altum commented on #3371
@snitin315 @akshatnitd
The slider-buttons only have a very small clickable area which may cause inconvenience while navigating. They should be changed to full height buttons for ease of navigation.

__Before__
![File-animation-Before](https://user-images.githubusercontent.com/41413622/74593289-cb335980-504f-11ea-860e-402b690b2b5d.gif)

__After (Expected)__
![File-animation-After](https://user-imag

[2020-02-16 03:56] pulkit1joshi opened #3478 "Two category menus in mobiles."
**Actual Behaviour**
As after addition of side-bar toggle button in mobile ( #3474 ). We don't need double menu as you can see below.

![before](https://user-images.githubusercontent.com/42002993/74598794-2d1ab000-509e-11ea-9b25-6bd0ab96e246.gif)

**Expected Behaviour**

The menu needs to be removed.

**Steps to reproduce it**

1. Navigate to susi.ai using mobile
2. Goto last of the page.

**Would

[2020-02-16 06:10] mohitm15 opened #3480 "Missing Tooltip for editing and Deleting Skill and Bot"
**Actual Behaviour**
The tooltip for Deleting and Editing the skill and Deleting a bot is missing on SkillCard and BotCard

**Expected Behaviour**
Added the respective Tooltip

**Steps to reproduce it**
1. Go to MySkills
2. Hover over any icon on Skillcard.
3. See Error
4. For Bot, Go to My Bots.
5 Repeat Step 2 for Bot Card
6. See error

**Screenshots of the issue**
![ezgif com-video-to-gif](http

[2020-02-16 06:39] snitin315 opened #3482 "change layout for cookie policy messege component."
**Actual Behaviour**

Currently the messege shows on bottom and takes too much unneccesary space.

![Screenshot from 2020-02-16 12-04-02](https://user-images.githubusercontent.com/46647141/74600266-da98be00-50b4-11ea-971d-2b015214bb3e.png)

**Expected Behaviour**

There is too much of blamk space below the text , which cany be utilised with a diiferent layout.

**Would you like to work on the issu

[2020-02-16 06:48] mohitm15 opened #3483 "Space missing in the footer of every blog posts."
**Actual Behaviour**
Space is missing in the footer of each blog present in the Blog section.

**Expected Behaviour**
Space should be placed.

**Steps to reproduce it**

1. Go to Blog.
2. Checkout footer of each blog.
3. See error

**Screenshots of the issue**

![Screenshot 2020-02-16 12:14:20](https://user-images.githubusercontent.com/35539313/74600358-7119af00-50b6-11ea-8dfa-36cd36fdc204.png)

*

[2020-02-16 06:54] mohitm15 commented on #3482
@snitin315 Is this necessary?

[2020-02-16 07:13] #3456 closed

[2020-02-16 07:13] #3469 closed

[2020-02-16 07:17] mohitm15 opened #3485 "Unaesthatic UI view of the team page"
**Actual Behaviour**
The background color of page and the card of colour are similar making it difficult to distinguish the boundary of the card.

**Expected Behaviour**
Change the color card (please refer to PR)

**Steps to reproduce it**
1. Go to Teams Page
2. Scroll down to each section
3. See UI glitch.

**Screenshots of the issue**

![Screenshot 2020-02-16 12:30:34](https://user-images.github

[2020-02-16 07:23] snitin315 commented on #3482
Just an enhancement.

[2020-02-16 07:31] mohitm15 commented on #3482
Nice

On Sun 16 Feb, 2020, 12:53 PM Nitin Kumar, <notifications@github.com> wrote:

[2020-02-16 10:09] Dishebh commented on #3482
@snitin315 correct the typo in the issue title.

[2020-02-16 10:20] tobehonest commented on #3485
This change doesn't seem necessary.

[2020-02-16 10:22] akshatnitd commented on #3485
This change not required. Hence, closing the issue and PR.

[2020-02-16 10:22] #3485 closed

[2020-02-16 10:35] tobehonest commented on #3480
The icons themselves are self explanatory and are universally used for deleting and editing. It doesn't seems like an issue to me.

[2020-02-16 10:39] tobehonest commented on #3371
@akshatnitd Please review if this change is required. Clicking and navigating due in-visible target doesn't seem like actual functionality of the slider.

[2020-02-16 11:33] tobehonest opened #3487 "Unnecessary navigation in about menu of navigation bar."
**Actual Behaviour**

![before](https://user-images.githubusercontent.com/42002993/74603681-290d8300-50dc-11ea-918e-53cf9afe8eb7.gif)

**Expected Behaviour**

On clicking over **_?_** , only menu should be display and navigation must not happen. On mobile devices navigating to support page is taking place through :- Home-About-Support because hovering is not possible on touch screen devices.

**St

[2020-02-16 12:08] mohitm15 commented on #3480
@tobehonest it's enhancement bro.

[2020-02-16 13:09] #3453 closed

[2020-02-16 13:16] tobehonest commented on #3480
@mohitm15 It was just personal opinion. :)

[2020-02-16 18:53] mohitm15 opened #3489 "Misalignment of the navigation button in mobile view"
**Actual Behaviour**
Misalignment of the navigation button in the mobile view in the Blog Section.

**Expected Behaviour**
The buttons are earlier at extreme left. They should be aligned to the center.

**Steps to reproduce it**

1.  GO to Blog Section
2. Switch to mobile view
3. Go to bottom.
4. See error

**Screenshots of the issue**

![Screenshot 2020-02-16 21:18:07](https://user-images.githubu

[2020-02-16 19:06] tobehonest opened #3491 "Automatic down scrolling when susi dialog box is open"
**Actual Behaviour**

When one navigates to create bot , he is automatically scrolled to bottom. Any time state changes, scroll bottom takes place.

**Expected Behaviour**

Only the chat box must scroll down to last and not the whole window

**Screenshots of the issue**

![before3](https://user-images.githubusercontent.com/42002993/74610914-6cd4ac80-511d-11ea-9f21-2e0698e9e069.gif)
![before](https

[2020-02-16 19:28] mohitm15 commented on #3491
@tobehonest I think this is restricted to only mobile view, please mention this in the issue description.

[2020-02-16 19:34] tobehonest commented on #3491
Please look the third GIF.

[2020-02-16 20:00] adrijshikhar commented on #3434
@Dilshaad21 I am unable to reproduce the bug.

[2020-02-16 20:31] mohitm15 opened #3492 "No closing action after editing the rating in Dialog Box"
**Actual Behaviour**
After selecting the `edit option` to edit in the dialog box of ratings, there occurs an **infinity loader** at this button even after the confirmation message appears and can only be stopped after clicking the `cancel` button.

**Expected Behaviour**
After editing the rating, the dialog box should get closed automatically.

**Steps to reproduce it**
1. Select any skill from th

[2020-02-16 20:35] Dishebh commented on #3380
@meliodas113 @akshatnitd is this a valid issue?

[2020-02-16 21:14] Dishebh commented on #3413
@simranaggarwal1999 @mohitm15 if it is up for grabs, can I take it?

[2020-02-16 21:17] Dishebh commented on #3417
@mohitm15 are you still working on it?

[2020-02-17 03:18] mohitm15 commented on #3413
@simranaggarwal1999 is working on this!
What's the status @simranaggarwal1999 ?

On Mon 17 Feb, 2020, 2:44 AM Dishebh Bhayana, <notifications@github.com>
wrote:

[2020-02-17 03:19] snitin315 commented on #3413
There is no sign of work done , you can go ahead with this

[2020-02-17 03:20] mohitm15 commented on #3417
Yes , you can go ahead with#3438, not working on that

[2020-02-17 04:32] mohitm15 commented on #3368
@Dilshaad21 have you still working

[2020-02-17 04:49] snitin315 commented on #3368
are*

[2020-02-17 05:13] #3483 closed

[2020-02-17 06:19] #3471 closed

[2020-02-17 06:44] #3487 closed

[2020-02-17 06:59] #3371 closed

[2020-02-17 07:38] Dilshaad21 opened #3493 "Use user avatar in place of github avatar in Author skills page"
**Actual Behaviour**

Currently, user avatar is being used in the **Author Skills** page.

**Expected Behaviour**

User avatar of susi ai account must be used in that case.

**Would you like to work on the issue?**

Yes

[2020-02-17 11:46] mohitm15 opened #3494 "Chatbot giving answer before question and then getting infinite load time"
**Actual Behaviour**
The chatbot is giving an answer to the question before it has been asked and then goes into infinite load state.
for eg: In the attached screenshot, it gives the answer of `please` before asking about it, and goes to infinity loading state.

**Expected Behaviour**
Should always respond only to the previous message.

**Steps to reproduce it**
1. Open chatbot
2. Give 2-3 consecu

[2020-02-17 12:07] mohitm15 opened #3495 "Sticking Buttons on Delete dialog-box in mobile view"
**Actual Behaviour**
The two buttons are sticking above each other on the delete dialog-box above each other in mobile view.

**Expected Behaviour**
There should be spacing between the button.

**Steps to reproduce it**
1. Go to settings
2. In accounts section, press delete
3. Switch to mobile view
4. See error

**Screenshots of the issue**

![Screenshot 2020-02-17 16:58:20](https://user-images.gi

[2020-02-17 13:44] sam-mittal commented on #3482
Can i work on this issue?

[2020-02-17 13:44] snitin315 commented on #3482
@sam-mittal Sure, Go Ahead.

[2020-02-17 14:14] snitin315 opened #3497 "gitignore: Ignore yarn.lock file"
For beginners this file creates problems as they unknowingly add changes to this file to their commit as well.

**Expected Behaviour**
`yarn.lock` should be ignored as well like `package-lock.json` file

## Working on it.

[2020-02-17 14:31] simranaggarwal1999 commented on #3413
@Dishebh You may work upon it. Meanwhile I will also try.

[2020-02-17 14:46] snitin315 commented on #3413
15 days and you have still not tried. Please claim an issue only if you are confident you can solve it and you have time to solve it.
Otherwise make way for active contributors.

[2020-02-17 14:50] simranaggarwal1999 commented on #3413
@snitin315 Sorry for the inconvenience. But I was busy with another issue of the same project from a long time. It is stuck.

[2020-02-17 15:10] mohitm15 commented on #3413
@simranaggarwal1999 not worthy that two people working on same issue.
@Dishebh Go ahead and report me the status?

[2020-02-17 16:03] #3376 closed

[2020-02-17 16:11] akshatnitd commented on #3099
This issue is no more valid.

[2020-02-17 16:11] #3099 closed

[2020-02-17 16:55] #3489 closed

[2020-02-17 16:57] mohitm15 opened #3500 "enhancement():UI of footer"
**Actual Behaviour**
Currently, the footer matches with the background color and looking dim.

**Expected Behaviour**
Enchancing the UI of footer

**Steps to reproduce it**
1. Scroll down to SUSI home page.
2. See Footer

**Would you like to work on the issue?**
Yes

[2020-02-17 17:33] #3497 closed

[2020-02-17 17:48] meliodas113 commented on #3380
Some content does appear in my local system. I have added screenshot for the same.

[2020-02-17 18:11] mohitm15 opened #3502 "The layout for Privacy Page and Terms and Conditions page are different"
**Actual Behaviour**
The layout for `Privacy Page` and `Terms and Conditions page` are different which include container classes, fonts, weights, size etc.

**Expected Behaviour**
Uniform layout throughout both the pages

**Steps to reproduce it**
1. Go to Terms and conditions page
2. Go to Privacy page in new tab
3. Compare

**Screenshots of the issue**

**Privacy Page**
![Screenshot 2020-02-17 2

[2020-02-17 18:13] Dishebh commented on #3380
No😅, actually, I meant, is this a requested feature to work upon?

Before you start working on a new feature, pls verify first from the project maintainers / contributors so that the time you mount on implementing the feature doesn't go wasted.

[2020-02-18 05:31] #3500 closed

[2020-02-18 15:11] snitin315 commented on #3475
looking into it

[2020-02-18 15:20] MuhammadWasif commented on #3475
@snitin315 Will you create a blog page first? because the whole UI will break even if we fix the heights  😕

[2020-02-18 15:21] snitin315 commented on #3475
yes.

On Tue, 18 Feb 2020, 8:50 pm Muhammad Wasif, <notifications@github.com>
wrote:

[2020-02-19 06:08] adrijshikhar commented on #3461
@tobehonest are you working on this?

[2020-02-19 06:10] tobehonest commented on #3461
This issue was fixed in the mentioned PR.

[2020-02-19 06:28] adrijshikhar commented on #3461
It is not fixed. The mentioned PR was closed not merged.

[2020-02-19 06:34] tobehonest commented on #3461
Yes he made a new PR because of some issues with mentioned PR branch. You may navigate to susi.ai and see that sidebar button has been added.

[2020-02-19 08:43] adrijshikhar commented on #3434
i reproduced the bug and tried to understand the flow.
In mobile view, when i click any `SkillExampleBubble`, the last message from user does not get rendered, and there are multiple renders for one click on `SkillExampleBubble`. Would you please help me figure out why is this happening?

![5e4cf0a2728f4379294661](https://user-images.githubusercontent.com/41939219/74816866-fc4aad00-5321-11ea-9191-

[2020-02-19 09:52] mohitm15 opened #3504 "chore(): Adding standard babel-eslint parser as dependency"
**Atcual Behaviour**
No checker before committing.
**Expected Behaviour**
babel-eslint allows you to lint ALL valid Babel code with the fantastic ESLint.Also helps for checking potential error while running on different servers.

**Would you like to work on the issue?**
Yes

[2020-02-19 09:58] mohitm15 commented on #3495
@akshatnitd @Orbiter Please review this PR

[2020-02-19 17:24] elit-altum opened #3506 "Removing horizontal scroll-bars from the browse skills container"
**Actual Behaviour**

**For Mozilla Firefox and Microsoft Edge**

Currently, the browse skills div has both, the scroll-bars and the scroll buttons which are redundant in functionality.
The scroll bars are also present on the div having only one skill which is not required.

Removing the scroll bars and only using the scroll-buttons will
- Help to remove functionality redundancy
- Remove the extra

[2020-02-19 17:51] Dilshaad21 opened #3507 "Bots not getting saved as drafts"
**Actual Behaviour**

Currently, bots are not getting saved as drafts due to json parse error (from server-side)

**Expected Behaviour**

Bots need to get saved as drafts.

**Would you like to work on the issue?**

Yes

[2020-02-19 17:55] elit-altum commented on #3506
@akshatnitd @snitin315 I intend to use
[code]
to fix this issue.
It will allow the scroll behaviour as usual and hide the scrollbars on both Microsoft Edge and Mozilla Firefox.
Please review.

[2020-02-20 06:08] mohitm15 commented on #3480
@snitin315 Shoud I close this issue?

[2020-02-20 06:12] snitin315 commented on #3480
Yes

[2020-02-20 06:13] snitin315 commented on #3480
I don't know why but it should be automatically closed.

[2020-02-20 07:44] #3480 closed

[2020-02-21 09:52] #3502 closed

[2020-02-22 10:09] mohitm15 opened #3510 "enhancement(): Highlight the words searched in the chatbot"
**Actual Behaviour**
Currently, words do not get highlighted that we search no matter how many times they occurs

**Expected Behaviour**
Get highlighted wherever that word occurs.

**Steps to reproduce it**
1. Go to chatbot
2. Search for word say `Fossasia`
2. See error

**Screenshots of the issue**
![Screenshot 2020-02-22 15:37:06](https://user-images.githubusercontent.com/35539313/75090491-6dd86

[2020-02-22 10:14] mohitm15 opened #3511 "Adding country flags in front of the name in dropdown in Settings Section"
**Actual Behaviour**
No country flags in front of the name in the dropdown in Settings Section

**Expected Behaviour**
Adding country flags in front of the name in dropdown in Settings Section

**Steps to reproduce it**
1. Go to Settings
2. Select mobile option on sidebar
3. Click the dropdown

**Screenshots of the issue**
![Screenshot 2020-02-22 15:42:59](https://user-images.githubusercontent.com

[2020-02-25 10:54] #3506 closed

[2020-02-25 23:45] mohitm15 commented on #3413
@Dishebh any updates?

[2020-02-26 01:29] Dishebh commented on #3413
Busy with something else, currently. Anyone else is welcome to take up the issue.

[2020-02-26 01:32] mohitm15 commented on #3413
@simranaggarwal1999 Go aheaf

[2020-03-12 08:43] pierreN opened #3512 "Wrong regexp to parse URLs"
Following https://bugs.xdavidhu.me/google/2020/03/08/the-unexpected-google-wide-domain-check-bypass/ it [seems](https://sourcegraph.com/search?q=/%5E%28%3F:%28%5B%5E:/%3F%23.%5D%2B%29:%29%3F%28%3F:%5C/%5C/%28%3F:%28%5B%5E/%3F%23%5D*%29%40%29%3F%28%5B%5E/%23%3F%5D*%3F%29%28%3F::%28%5B0-9%5D%2B%29%29%3F%28%3F%3D%5B/%23%3F%5D%7C%24%29%29%3F%28%5B%5E%3F%23%5D%2B%29%3F%28%3F:%5C%3F%28%5B%5E%23%5D*%29%2

[2020-03-12 09:39] #3082 closed

[2020-04-01 11:33] BLasan commented on #3510
@mohitm15  Is this issue still available? Can I work on this?

[2020-04-01 14:31] mohitm15 commented on #3510
Sure

[2020-04-03 15:23] BLasan commented on #3511
@mohitm15  Is this issue still opened? Can I work on this?

[2020-04-03 15:24] snitin315 commented on #3511
Yes

[2020-04-03 15:24] BLasan commented on #3492
@mohitm15  Can I work on this?

[2020-04-05 03:45] BLasan commented on #3492
@mohitm15  Can I work on this issue now?

[2020-04-05 07:10] #3511 closed

[2020-04-06 07:34] #3510 closed

[2020-04-07 03:36] BLasan commented on #3492
There's no error like this. It will edit the post successfully with closing the modal after editing

[2020-04-07 03:38] BLasan commented on #3411
@mohitm15  Is this issue still opened? Can I work on this?

[2020-04-07 04:53] snitin315 commented on #3411
You can start working without asking if there no sign of work done.

[2020-04-07 06:01] mohitm15 commented on #3492
@BLasan Issue is that the modal does not get closed although ratings get updated

[2020-04-07 06:01] mohitm15 commented on #3492
Go ahead

[2020-04-07 06:02] mohitm15 commented on #3411
Sure , sorry for late reply

[2020-04-07 06:04] mohitm15 commented on #3413
@simranaggarwal1999 Any updates , Stale !

[2020-04-07 06:04] mohitm15 commented on #3417
@Dishebh Stale!

[2020-04-07 06:12] mohitm15 commented on #3512
@pierreN Can you clearly specify your issue in the context to this web-app?

[2020-04-07 08:00] BLasan commented on #3492
![susi-ai](https://user-images.githubusercontent.com/43112139/78644626-ccf0ff00-78d3-11ea-8596-5f1739596b29.gif)

Hope there's no issue

[2020-04-07 10:03] BLasan commented on #3400
It's updating successfully

[2020-04-13 09:53] mariobehling opened #3515 "Admin Skills Page - Cannot Open Edit Popup"
![Screenshot from 2020-04-13 11-50-21](https://user-images.githubusercontent.com/1583873/79111667-4168e980-7d7d-11ea-9447-2f01eab09180.png)

Cannot open "Edit" pop up on page https://susi.ai/admin/skills

[2020-04-13 16:26] MuhammadWasif commented on #3515
I am looking into it

[2020-04-14 07:26] MuhammadWasif commented on #3515
It says **404 - Page not Found**  🙄
Or I don't have access to the page

[2020-04-16 09:49] BLasan commented on #3515
@mariobehling Can I work on this? Are there any admin credentials?

[2020-04-17 15:43] #3163 closed

[2020-04-17 16:00] #3515 closed

[2020-04-19 04:43] BLasan commented on #3493
@Dilshaad21 Can I work on this?

[2020-04-19 04:45] BLasan commented on #3492
@snitin315 Is this a valid issue?

[2020-04-25 21:11] mariobehling opened #3517 "Deleting skills not working for Admins"
The option "Please type in the name of the skill to confirm." does not activate the delete option at https://susi.ai/admin/skills.

![Screenshot from 2020-04-25 23-09-22](https://user-images.githubusercontent.com/1583873/80291009-1b165700-874a-11ea-886e-a8ce42cf5a20.png)

[2020-04-25 21:16] mariobehling opened #3518 "Admin Pages can only show up to 20 entries per page - show more"
Admin pages User, Skills, Bots should be able to show quantities as follows 25, 50, 100, 200, 500 entries per page.

![Screenshot from 2020-04-25 23-13-42](https://user-images.githubusercontent.com/1583873/80291075-a0017080-874a-11ea-8563-d2f79d6d5651.png)

Links
https://susi.ai/admin/skills
https://susi.ai/admin/user
https://susi.ai/admin/bots

[2020-05-03 13:34] mariobehling opened #3519 "Start Page Content area and menu disappear on a number of browsers on larges screens"
![Screenshot from 2020-05-03 15-32-48](https://user-images.githubusercontent.com/1583873/80915578-84eabe00-8d53-11ea-80ed-48ebdbf1393c.png)

After an initial loading time the start page content in the main area disappears as shown in the screenshot on large screens with a resolution wider than 2560px.

[2020-05-04 20:39] madilraza commented on #3337
yes what should i provide??

[2020-05-04 20:41] #3337 closed

[2020-05-05 01:06] 1209simran opened #3521 "Blog page doesn't renders on accessing through team page"
**Actual Behaviour**

When user go on the team page and afterwards tap on the blog button from the footer segment, then it does not renders the page, but on reloading it does.

**Expected Behaviour**
On clicking blog button, it will render the page

**Steps to reproduce it**
Go to the team page.
Now, click on blog button in footer section.

**Would you like to work on the issue?**
Yes

[2020-05-05 04:37] BLasan commented on #3519
@mariobehling Can I work on this?

[2020-05-06 02:27] BLasan commented on #3519
@mariobehling Can you specify the browsers?

[2020-05-07 10:08] ujjwalkirti commented on #2841
Can I work on fixing this bug?

[2020-05-08 03:51] #3089 closed

[2020-05-08 13:56] rajamanojkumar commented on #3495
Can i contribute to this..?

[2020-05-08 13:59] snitin315 commented on #3495
@rajamanojkumar as you can see above a Pull request is already open for the issue, you can check on some other issues.

[2020-05-09 02:57] samagragupta commented on #2841
@ujjwalkirti Go ahead

[2020-05-09 05:45] tewarig opened #3524 "susi.ai is giving 0c(euro cents) as an answer to some how to ? Questions."
**Actual Behaviour**

Susi is giving 0c(euro cents) as an answer to some questions, like how to cook noodles? , how can I cook noodles?
**Expected Behaviour**

Susi should search the web and give the recipes of food.
**Steps to reproduce it**
 just ask susi.ai how to cook noodles?  how can I cook noodles?

**Screenshots of the issue**

![2020-05-09-11-00-22](https://user-images.githubusercontent.c

[2020-05-09 11:18] nlok5923 opened #3525 "bottom links need proper alignment"
**Actual Behaviour**

Link present at the bottom of the page are not aligned properly.
**Expected Behaviour**

The link should be aligned proper with above section (About devices Blog ) section not aligned properly.

**Steps to reproduce it**

it is not a bug a slight issue with alignment

**LogCat for the issue**

**Screenshots of the issue**

![Screenshot (806)](https://user-images.githubusercon

[2020-05-09 17:23] bhavyakaria opened #3526 "Send Message using Enter button while chatting with SUSI.AI"
**Actual Behaviour**

Currently, the user has to click on the Send button to send a message. Pressing on the **Enter** button does nothing.

**Expected Behaviour**

The user should be able to chat(send message) with pressing the **Enter** button.

**Steps to reproduce it**

1. Try pressing **Enter** key to send a message while chatting with the SUSI.AI

**Screenshots of the issue**

![SUSI.AI](htt

[2020-05-09 17:36] elit-altum opened #3527 "Misaligned elements in share susi modal"
**Actual Behaviour**

Currently the share susi modal has
- Misaligned content-share button (Mozilla Firefox Developer Edition)
![image](https://user-images.githubusercontent.com/41413622/81480792-70be2980-9249-11ea-9f84-9ab8ce11e122.png)

- Out of textarea scroll-bars (Google Chrome)
![image](https://user-images.githubusercontent.com/41413622/81480806-82073600-9249-11ea-8bd7-b90dc3ddfa1e.png)

**E

[2020-05-09 17:48] #3526 closed

[2020-05-09 18:00] elit-altum commented on #3527
I have implemented this design for the share susi modal. Please tell me if this okay so I can send a PR !

![image](https://user-images.githubusercontent.com/41413622/81481343-fd1e1b80-924c-11ea-9489-d531b53a498a.png)

@akshatnitd

[2020-05-09 19:08] anishagg17 commented on #3524
did you test this on susi android?

If it gives the same output then It's probably a server side issue and not related to `susi.ai web_client`

[2020-05-09 19:41] arteevraina commented on #3431
@anishagg17 Are you still working on this issue? If not, Can I work on this one?

[2020-05-09 20:02] arteevraina opened #3528 "Fallback message on not finding a skill has unordered list not aligned."
**Actual Behaviour**

When you search skills in `search bar`. It renders unordered list with list items not in proper alignment.

**Expected Behaviour**

Unordered List items should be properly aligned.

**Steps to reproduce it**

 - Go to the [demo](https://susi.ai/).
 - Search anything in `searchbar`.

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/43968121/8148

[2020-05-09 22:41] anishagg17 commented on #3431
Yes you can

[2020-05-10 05:27] tewarig commented on #3524
yes, there also it is giving the same error.
![WhatsApp Image 2020-05-10 at 10 56 20](https://user-images.githubusercontent.com/54894783/81491525-ffb05d80-92ac-11ea-88f7-b47fbf70a001.jpeg)

[2020-05-10 07:29] arteevraina commented on #3431
Sure thanks!

[2020-05-10 13:49] arteevraina commented on #3518
@mariobehling Can I work on this issue?

[2020-05-10 15:02] snitin315 commented on #3518
Yes you can.

[2020-05-10 17:41] arteevraina commented on #3518
@snitin315 @mariobehling I am not able to reproduce this issue. From the above links I am getting this.
![image](https://user-images.githubusercontent.com/43968121/81506391-957ed380-9313-11ea-812b-6960133a81ef.png)
Any workarounds?

[2020-05-10 17:49] arteevraina commented on #3482
@sam-mittal Are you still working on this issue? If not, Can I work on this one?

[2020-05-10 17:51] snitin315 commented on #3482
Yes you can work on this

[2020-05-10 17:55] anandgupta887 commented on #3528
Yes I would like to work on this issue

[2020-05-10 17:58] arteevraina commented on #3528
@anandgupta887 Sure! Work on this.

[2020-05-10 21:51] 927tanmay opened #3532 "Home page doesn't renders on clicking Susi Icon"
**Actual Behaviour**

When user go on the team page and afterwards tap on the Susi icon from both header and footer segment, then it does not renders the home page.

**Expected Behaviour**

The home page must be rendered on clicking the SUSI icon from the header and footer of the Team page.

**Steps to reproduce it**

Go to the team page.
Now, click on the SUSI icon from either the header or the f

[2020-05-11 01:41] snitin315 commented on #3518
You should have admin previllages to access that page.

[2020-05-11 02:06] madhur1846 commented on #3525
I would like to work on this issue

[2020-05-11 02:09] snitin315 commented on #3525
There is already a PR for this one, you can check some other issues.

[2020-05-11 02:14] madhur1846 commented on #3527
I would like to work on this issue

[2020-05-11 02:16] snitin315 commented on #3527
@elit-altum is already working on this.

[2020-05-11 02:18] snitin315 commented on #3527
You can send PR

[2020-05-11 02:20] madhur1846 commented on #3517
I would like to work on this issue

[2020-05-11 02:22] snitin315 commented on #3517
Go ahead.

[2020-05-11 02:27] anandgupta887 commented on #3528
Is it the expected result or you need the list to indented?

![Screenshot_3](https://user-images.githubusercontent.com/58431092/81518835-f383d900-935c-11ea-8576-f2c79bceac48.png)

[2020-05-11 02:29] snitin315 commented on #3528
Yep, you can send PR.

[2020-05-11 04:50] #3532 closed

[2020-05-11 06:47] anandgupta887 commented on #3528
I have posted PR. Please have a check.
Pull Request -- #3535

[2020-05-11 11:01] tewarig opened #3537 "Wechat link in the about pages leads to a empty repository in github"
**Steps to reproduce it**

Go to about page and click on WeChat link  under on many platforms sections in the about page.

**Screenshots of the issue**
![susi](https://user-images.githubusercontent.com/54894783/81554358-46cd4a00-93a4-11ea-824c-fe9573c32a11.gif)

**Would you like to work on the issue?**
yes, I would like to add the new link of the repo, or I can even integrate Susi with WeChat.
if

[2020-05-11 16:27] 1209simran opened #3539 "Rating star doesn't matches with original one on applying rating filters"
**Actual Behaviour**

On applying any rating filter, the skill card shows wrong rating star.

**Expected Behaviour**

Showing correct rating star

**Steps to reproduce it**

1. Apply rating filter.
2. Hover on any skill card. On hovering, it shows a tooltip that shows number of stars which doesn't matches with the rating star

**Screenshots of the issue**

![DeepinScreenshot_20200511135321](https:

[2020-05-11 17:25] elit-altum opened #3541 "Rating tooltip moves with cursor"
**Actual Behaviour**
The Rating tootips stick to the cursor and stay visible even after the cursor leaves the rating div

**Expected Behaviour**
The ```onMouseLeave()``` property should be used to hide the tooltip after it leaves the rating div

**Steps to reproduce it**
- Sort skills by ratings
- Hover over the rating of an individual skill and scroll the viewport

**Screenshots of the issue**
![

[2020-05-12 14:47] elit-altum commented on #3482
I think as the aim is to reduce the space it takes. Would it be a good idea to change

To

Just a suggestion.
@snitin315 @akshatnitd

[2020-05-12 15:37] arteevraina commented on #3518
@snitin315 I don't have admin privileges. Can I still work on this issue?

[2020-05-13 10:44] anandgupta887 commented on #3537
Can i work on it??

[2020-05-13 11:30] tewarig opened #3544 "Implement Login/sign up with Google,Facebook and Twitter in the Sign up and login page"
It would be great if susi.ai allows login and sign up with Google, Facebook, and Twitter. That would be a great feature.

**Screenshots of the issue**
![Screenshot from 2020-05-13 16-54-36](https://user-images.githubusercontent.com/54894783/81807131-25529680-953b-11ea-9c87-c9a7b1be18f6.png)

**Would you like to work on the issue?**
Yes, i would love to add this feature to susi.ai

[2020-05-13 11:31] #3524 closed

[2020-05-13 11:40] tewarig commented on #3537
@anandgupta887 hey,  there is no reply of mentors about what to do in this issue. it is a  hard one we can work on it together. but I have already mentioned I would like to work on that. the real problem is is it even an issue?

[2020-05-13 11:42] snitin315 commented on #3537
This is the expected behavior for now.

[2020-05-13 11:45] #3537 closed

[2020-05-13 11:48] tewarig commented on #3285
Can I work on it?

[2020-05-13 11:49] snitin315 commented on #3285
Sure, Go ahead.

[2020-05-13 12:04] atulgawhane commented on #3544
i want to work on this issue please assign it to me

[2020-05-13 12:54] arteevraina opened #3545 "Padding not required in dropdown menu."
**Actual Behaviour**

Dropdown having `padding-top` and `padding-bottom` in the `dropdown` menu.

**Expected Behaviour**

These padding's should not be present.
![image](https://user-images.githubusercontent.com/43968121/81814749-c135cf80-9546-11ea-8a00-267ce178d40d.png)

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/43968121/81814846-dc084400-9546-11ea-9adf-dabe

[2020-05-13 13:07] madhur1846 commented on #3517
can u tell me how to check if my changes are working or not because when i open that page it shows we are sorry page not found

[2020-05-13 13:41] arteevraina commented on #3413
@mohitm15 I cannot reproduce this issue. Is it still there?
![image](https://user-images.githubusercontent.com/43968121/81819912-8c794680-954d-11ea-8f1c-9abe5f54e772.png)

[2020-05-13 16:33] tewarig commented on #3285
@sachin235
![issue](https://user-images.githubusercontent.com/54894783/81839619-6cee1800-9565-11ea-805c-26db62e02a9a.gif)
this is what I have made.. is it okay? 😸

[2020-05-13 16:38] snitin315 commented on #3285
The image should zoom om hover as said in issue.

[2020-05-13 17:25] arteevraina commented on #3493
@BLasan Are you still working on this? If not, Can I work on this?

[2020-05-13 17:32] arteevraina commented on #3444
@anishagg17 Can you give some brief explanation of how to reproduce this issue?

[2020-05-13 17:33] BLasan commented on #3493
@arteevraina  You may carry on :)

[2020-05-13 17:49] arteevraina commented on #3493
@Dilshaad21 Can you please share a screenshot related to this issue. I am not able to reproduce it.

[2020-05-13 18:24] tewarig commented on #3285
finally, is it done @sachin235 thanks for your help.
![final](https://user-images.githubusercontent.com/54894783/81849716-92cee900-9574-11ea-84c3-1e44f7728241.gif)

[2020-05-13 20:22] 927tanmay opened #3547 "Contributors section is empty in the Team Page when a user is logged in"
**Actual Behaviour**

When the user is logged in and visits Team page then the Contributors section is empty but it shows up when the user is not logged in.

**Expected Behaviour**

The Contributors section must show the list of contributors both when the user is logged in as well as logged out.

**Steps to reproduce it**

Login to Susi.ai
Go to the team page.
Now, visit the Contributors section a

[2020-05-14 01:34] madhur1846 commented on #3517
how to check if my changes are working or not because when i open this page it shows page not found?

[2020-05-14 01:37] madhur1846 commented on #3517
how to check if my changes are working or not because when i open this page it shows page not found?

[2020-05-14 04:55] 1209simran commented on #3547
Can I work on this issue?

[2020-05-14 07:33] 927tanmay commented on #3547
@1209simran Sure! You can work on this issue.

[2020-05-14 08:32] anishagg17 commented on #3528
Duplicate of #3093

[2020-05-14 20:27] arteevraina opened #3550 "Skilll checkbox getting checked automatically"
**Actual Behaviour**

When more than three `checkboxes` are `unchecked` skill `checkbox` gets automatically `checked`.

**Expected Behaviour**

It should be restricted.

**Screenshots of the issue**

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/43968121/81982276-2f65b980-964f-11ea-9af9-b249a848d884.gif)

**Would you like to work on the issue?**

Yes!

[2020-05-14 20:27] arteevraina commented on #3550
@snitin315 @akshatnitd What should be the expected behavior?

[2020-05-14 21:49] 927tanmay commented on #3550
@arteevraina I think its not an issue rather its an feature that is being implemented in both the skill checkbox and the language checkbox. Since you need to have atleast one of the four things out of Skill, Description, Examples or Author selected for a relevant search.

[2020-05-15 07:12] arteevraina commented on #3550
@927tanmay So, I think these lines of code should not be there then ?
[code]

[2020-05-15 07:21] snitin315 commented on #3550
This is expected behavior Skill is default

[2020-05-15 18:40] chetan-v commented on #3413
@snitin315 I wanna work on it

[2020-05-17 19:25] BLasan commented on #3545
@snitin315 Can I work on this?

[2020-05-17 19:26] BLasan commented on #3517
I think you need admin privileges. How can we fix these issues that need admin privileges ? @snitin315

[2020-05-17 19:28] arteevraina commented on #3545
@BLasan I am working on this.

[2020-05-18 05:03] #3541 closed

[2020-05-19 16:29] rahullli commented on #3545
Can I work on this project ?

[2020-05-21 17:17] #3547 closed

[2020-05-21 17:26] #3539 closed

[2020-05-21 17:39] #3528 closed

[2020-05-21 17:52] #3527 closed

[2020-05-21 18:14] Kharanshu31 commented on #3494
Can i?

[2020-05-22 07:31] Kharanshu31 commented on #3494
I checked it but in my case it is not going in infinite loop but it is answering before it has been asked

[2020-05-22 16:51] 1209simran opened #3552 "Adding space in between the skill bubble on the skill page in mobile view"
**Actual Behaviour**

The bubbles are sticking above each other on the skill page in mobile view and also the width of the bubble section is abruptly fixed.

**Expected Behaviour**

There should be space in between them and also the width of that section needs to be perfectly fixed.

**Steps to reproduce it**

1. Click on any skill card.
2. See the error.

**Screenshots of the issue**

![WhatsApp

[2020-05-22 17:36] ashwani99 commented on #3544
We need to add the support for social login in the server-side for this. I am not sure if this is on priority or requirement. @akshatnitd @mariobehling can you please confirm?

[2020-05-22 17:58] ashwani99 commented on #3519
I am taking this up

[2020-05-22 18:21] Kharanshu31 commented on #3552
I want to work on this

[2020-05-22 18:27] 1209simran commented on #3552
@Kharanshu31 , I've already generated a PR.

[2020-05-22 19:09] ashwani99 opened #3554 "Move search bar in navigation bar to center"
**Actual Behaviour**
Currently in the navigation bar, the search bar is just placed after the logo. And the other links/buttons are to the right end. The position of the elements can be improved

**Expected Behaviour**
We should place the search bar in the center. More appropriately, we should put the elements of nav bar inside flex container and use spaces evenly between them.

Finally, it should

[2020-05-22 19:34] BLasan commented on #3545
@snitin315 Is this still opened ?

[2020-05-23 00:41] snitin315 commented on #3545
If an issue is green it's open if it's red it's closed.

[2020-05-23 03:35] BLasan commented on #3545
@snitin315 I would like to work on this

[2020-05-23 04:06] snitin315 commented on #3545
Go ahead

[2020-05-23 19:43] 927tanmay opened #3557 "About,Devices,Support,Blog page doesn't renders from footer through Team Page"
**Actual Behaviour**

When a user goes on the team page and afterwards tap on the About, Devices, Blog or Support button from the footer segment, then it does not renders the respective pages, but on reloading it does.

**Expected Behaviour**

The About, Devices, Blog and Support page must be rendered on clicking their respective button from the footer segment on accessing through the Team page

*

[2020-05-24 15:36] elit-altum opened #3559 "Grammatical error on devices page"
## Minor Issue

**Actual Behaviour**
The dialogue on the devices page says

**Expected Behaviour**
It should be

**Screenshots of the issue**
![image](https://user-images.githubusercontent.com/41413622/82758127-5a47ce80-9e02-11ea-9611-d25e6621ddbd.png)

**Would you like to work on the issue?**
Yes

[2020-05-24 15:39] elit-altum commented on #3554
@ashwani99 Can you explain why do you think this change is necessary?

Thank you!

[2020-05-24 16:00] elit-altum opened #3561 "Un-responsive footer on support page"
**Actual Behaviour**
On the support page the footer is not responding i.e. all links are unclickable.

**Expected Behaviour**
The footer should be working normally as it does on other pages.

**Steps to reproduce it**
- Go to the support page by selecting it from footer.
- Try clicking any footer links on this page.

**Screenshots of the issue**

![support-footer-error](https://user-images.githubu

[2020-05-24 16:01] elit-altum commented on #3561
@anishagg17 @snitin315 I want to cross check if this issue can be produced on other environments. Could you please check for it once?

Thank you!
I am encountering this issue on Mozilla developer edition and chrome 83

[2020-05-24 16:19] ashwani99 commented on #3554
@elit-altum This is just to improve the look of the navigation bar. If we place the search bar in the middle, the logo will stand out more.
Earlier, it was just beside the logo which allowed a lot of unused space right after the search bar. As the logo, search bar and the other link(login, help etc) are not related to each other we should place them separately for better experience

[2020-05-24 16:44] anishagg17 commented on #3561
links working fine for `chrome 83`

[2020-05-25 12:23] BLasan commented on #3518
@snitin315 Can I work on this? How do we solve these admin privilege based issues?

[2020-05-26 04:31] BLasan commented on #3519
@snitin315 Can I work on this?

[2020-05-26 04:32] snitin315 commented on #3519
If @ashwani99 isn't then you can

[2020-05-26 06:55] BLasan commented on #3519
How many days we have to wait?

[2020-05-26 06:59] snitin315 commented on #3519
3-4 days , if there is no sign of work done you can start working.

[2020-05-26 13:10] #3545 closed

[2020-05-26 13:16] #3559 closed

[2020-05-26 18:39] ashwani99 commented on #3519
@BLasan I am working on it already

[2020-05-26 22:13] 927tanmay opened #3563 "Search Bar has design issues in mobile view"
**Actual Behaviour**

When one of the checkboxes is unchecked from the search bar dropdown then due to CSS or responsiveness issues we are not able to get the desired view of the search bar (cancel button and language selection option gets out of the screen).

**Expected Behaviour**

The search must remain functional and the cancel icon and language selection option must still be visible when one

[2020-05-27 00:50] #3521 closed

[2020-05-27 21:09] 927tanmay commented on #3563
@snitin315 @anishagg17 could you please give any suggestions what should be the actual behaviour of the search bar on having checked three checkboxes since in current scenario UI is breaking.

[2020-05-28 09:14] sahilsaha7773 commented on #3561
Links are working for me too

[2020-05-28 18:08] #3554 closed

[2020-05-30 12:34] shrey commented on #3411
@snitin315 Issue has been inactive for a while, can I work on this?

[2020-05-30 12:38] snitin315 commented on #3411
Go ahead

[2020-05-31 10:11] shrey opened #3564 "Issue in recaptcha while signing up"
**Actual Behaviour**

Recaptcha doesn't load and shows error on the actual site

**Expected Behaviour**
Recaptcha should load and I should be able to signup

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

![Screenshot 2020-05-31 at 3 32 46 PM](https://user-images.githubusercontent.com/53302612/83349798-28c88900-a355-11ea-9540-f17c969e2b41.jpg)

**Would you like

[2020-05-31 11:09] shrey commented on #3564
@snitin315 @anishagg17 Are you able to reproduce the error on the website?

[2020-05-31 11:12] snitin315 commented on #3564
Yes but I think it's likely to be a problem on their end.

[2020-05-31 11:30] shrey commented on #3564
@snitin315 Yeah, so are there any login credentials through which I can check the features provided for a logged in user.

[2020-06-01 02:26] #3557 closed

[2020-06-02 11:56] Akhil-Kashyap opened #3565 "New UI for the Language Select Menu which would include 'add' and 'close' icons"
**Actual Behaviour**

Currently when a user clicks on a language option it just highlights itself. It will be great if we can provide the menu with dynamic icons.

**Expected Behaviour**

We can add some icons which changes accordingly. A 'x' icon will be displayed in front of a selected language option and similarly a '+' in front of unselected options which would change dynamically upon toggling

[2020-06-02 12:20] Akhil-Kashyap commented on #3565
@anishagg17 @snitin315 Should I go forward adding the icons or the menu should be left as it is??

[2020-06-02 12:28] snitin315 commented on #3565
Low prioriry

[2020-06-04 10:29] singhaditya28 opened #3569 "No Categories page for SUSI Skills."
**Actual Behaviour**

If the search function doesn't finds a result it throws an error like this :-
![image](https://user-images.githubusercontent.com/66196917/83744316-8d4b5700-a679-11ea-85f8-ce1544ae6ab8.png)

Moreover if we don't get the result we have to return to the starting page to again choose the SUSI Skills category again from the sidebox navigator.
![image](https://user-images.githubuse

[2020-06-07 14:12] mariobehling opened #3570 "nm build output issues and nothing minified"
nm build output has issues: All the files are now in build/ directly, not in static/ and nothing seems to be minified.

[2020-06-07 14:55] mariobehling opened #3571 "Delete Blog Page and substitute Link to Blog"
Delete Blog Page and substitute Link to Blog to link to http://blog.fossasia.org/category/susi.ai

[2020-06-07 14:57] mariobehling opened #3572 "Take out Devs and Alumni from Team page"
Active contributors will be shown automatically in the contributors section. Therefore please delete "Developers" and "Alumni" from the team page at https://susi.ai/team

[2020-06-07 15:00] snitin315 commented on #3571
On it.

[2020-06-07 15:00] mariobehling opened #3573 "Delete Google Maps from https://susi.ai/contact"
We dont need a Google map on the contact page.

[2020-06-07 15:01] snitin315 commented on #3572
Taking this up.

[2020-06-07 20:55] #3572 closed

[2020-06-07 21:01] akshatnitd commented on #3561
The issue is reproducible and appears on large screen sizes due to overlap of "Get Started" container's padding.

[2020-06-07 21:02] akshatnitd commented on #3570
The issue has been fixed.

[2020-06-08 09:12] elit-altum commented on #3561
@akshatnitd Can I work on this?

[2020-06-08 11:28] Tanuj22 commented on #3571
Hey, @snitin315 are you working on this? I would like to take this up.

[2020-06-08 11:29] snitin315 commented on #3571
Go ahead

[2020-06-08 19:28] Tanuj22 opened #3578 "Show password not working in login/register"
**Actual Behaviour**
The show password eye in login/register is not working

**Expected Behaviour**
The password should be visible when clicked upon

**Steps to reproduce it**
Try to login/register

**Screenshots of the issue**

![pass (online-video-cutter com)](https://user-images.githubusercontent.com/42486853/84072075-3c768e00-a9ec-11ea-9fa3-9c46bb386b6b.gif)

**Would you like to work on the is

[2020-06-08 19:34] Tanuj22 commented on #3578
@snitin315 Is this a valid issue?

[2020-06-09 02:22] snitin315 commented on #3578
Yes, feel free to fix it.

[2020-06-09 14:51] #3571 closed

[2020-06-09 14:52] #3573 closed

[2020-06-10 13:31] Tanuj22 opened #3580 "Caterory menu item not showing in mobile view"
**Actual Behaviour**
The home page in mobile view

**Expected Behaviour**
An icon should be should

**Steps to reproduce it**
Go to mobile view in home page

**Screenshots of the issue**
![Screenshot from 2020-06-10 18-57-39](https://user-images.githubusercontent.com/42486853/84273728-a5751780-ab4c-11ea-86f5-f63b4bb7d83b.png)

**Would you like to work on the issue?**
Yes!

[2020-06-10 13:49] Tanuj22 opened #3582 "Two Category Menus in mobile"
**Actual Behaviour**
There are two category menu. One present directly the other in the side drawer

**Expected Behaviour**
There should only be one

**Screenshots of the issue**
![Screenshot from 2020-06-10 19-16-37](https://user-images.githubusercontent.com/42486853/84275858-35b45c00-ab4f-11ea-9cf1-26cd58950850.png)

**Would you like to work on the issue?**
Yes!

[2020-06-12 10:29] Tanuj22 commented on #3582
@anishagg17 what do you think about this issue? Should I work on it?

[2020-06-13 05:15] #3565 closed

[2020-06-13 05:16] #3580 closed

[2020-06-13 05:19] #3504 closed

[2020-06-13 05:24] akshatnitd commented on #3582
This is not a valid issue. It is intentional.

[2020-06-13 05:24] #3582 closed

[2020-06-13 05:25] akshatnitd commented on #3475
We have removed the blog page completely. Hence, closing it.

[2020-06-13 05:25] #3475 closed

[2020-06-13 05:29] akshatnitd commented on #3413
Not a valid issue.

[2020-06-13 05:29] #3413 closed

[2020-06-13 05:32] #3093 closed

[2020-06-13 05:33] akshatnitd commented on #3135
This issue has bee fixed.

[2020-06-13 05:33] #3135 closed

[2020-06-13 11:03] amit2699 commented on #3578
@Tanuj22  Can I work on this issue #3578

[2020-06-17 20:05] codebreakeragr8 commented on #3564
I am also facing this issue. Any solutions?

[2020-06-23 18:24] pg07codes commented on #3564
this issue has not been fixed till now . Any updates ?

[2020-07-01 14:02] ShubhamChaudharyy opened #3584 "Show Password not working in settings section(admin) and in Login and Register components"
**Actual Behaviour**

 Currently if user wants to see the password entered it isnt showing the input password
**Expected Behaviour**

it should show the password when clicked on "eye" icon

**Steps to reproduce it**

1. Go to Profile Section and then switch to Password section.

**LogCat for the issue**

**Screenshots of the issue**

![Screenshot (210)](https://user-images.githubusercontent.com/43

[2020-07-02 03:56] sysdl132 opened #3585 "how to get the susi.ai web chat HTML code"
I can't find any HTML code about susi webchat in the offical site  https://susi.ai

Can you give me the susi.ai  website online chat HTML code?

[2020-07-02 03:57] snitin315 commented on #3585
susi web client is built with react.js

[2020-07-02 03:59] sysdl132 commented on #3585
ok.is it possible to deploy on netlify?

[2020-07-02 04:00] snitin315 commented on #3585
yes

[2020-07-02 04:03] #3585 closed

[2020-07-02 04:03] sysdl132 commented on #3585
(the reply was so fast)

[2020-07-03 05:01] 26Vinayak commented on #2841
i would like to work on this bug can you assign me this ?

[2020-07-03 05:10] snitin315 commented on #2841
go ahead

[2020-07-03 16:56] 26Vinayak commented on #3578
I am working on this issue.

[2020-07-06 20:24] ShubhamChaudharyy commented on #3578
but i linked a pull request for this issue 4 days ago

[2020-07-06 20:26] ShubhamChaudharyy commented on #3578
actually yes , the pre-installed package wasnt working.. I Linked a pull request can you check @Tanuj22

[2020-07-09 18:31] BLasan commented on #3564
@snitin315 Is this still occurring?

[2020-07-18 23:30] BLasan commented on #3517
@mariobehling Is there a way to visit the admin/skills page ?

[2020-07-25 17:06] lopeselio opened #3590 "The sideBar disappears at width less than 770px. I think It would be better to have a burger menu to open the sidebar on smaller screens."
**Actual Behaviour**
**The sideBar disappears at width less than 770px. I think It would be better to have a burger menu to open the sidebar on smaller screens.**

**Expected Behaviour**
_**I think It would be better to have a burger menu to open the sidebar on smaller screens.**_

**Steps to reproduce it**
1. Head over to https://susi.ai/
2. Inspect the screen for smaller screen width. Note that

[2020-07-29 20:31] Swayamsvk commented on #3590
Can I work on this issue?

[2020-07-30 06:41] lopeselio commented on #3590
Can I work on this issue >?

[2020-07-30 11:44] Swayamsvk commented on #3590
It's ok if you are working on it I will try something else.

[2020-07-30 11:51] snitin315 commented on #3590
No need to ask, just send PR if no one else is working.

[2020-07-31 14:51] Swayamsvk commented on #3564
Yes.

[2020-08-04 08:33] elit-altum opened #3591 "Add package-lock.json to gitignore"
**Actual Behaviour**

Reference to https://github.com/fossasia/susi.ai/issues/3497
```package-lock.json``` is not added to ```.gitignore```. Some people might use ```npm``` as a package manager & a newly added ```package-lock.json``` file will pollute the PR.

**Expected Behaviour**
```package-lock.json``` should be added to  ```.gitignore```.

**Would you like to work on the issue?**
Yes

[2020-08-04 08:36] elit-altum commented on #3591
@snitin315 @akshatnitd Would it be okay if I also update ```README.md``` with a specific alert for using ```yarn``` instead of ```npm``` as the package manager ?

On the lines of:

Thank You!

[2020-08-04 16:02] elit-altum commented on #3563
@927tanmay I don't think this is required as the navbar actually changes completely on mobile screens. As you have resized the browser window you are actually seeing desktop version on small screens. You can refresh the screen, it would load the mobile layout & this issue will be resolved.

[2020-08-15 07:10] Sayan-dev commented on #3590
Let me work on it

[2020-08-15 07:23] Sayan-dev commented on #3564
Oh man, it still is not working.....

[2020-08-15 07:27] snitin315 commented on #3590
Go ahead

[2020-08-20 04:47] govindtomariiit commented on #3561
I want to work on this

[2020-08-25 06:53] neeraj-2 opened #3594 "Visibility of Burger Menu for width from 520px to 768px"
**Actual Behaviour**
If we go for width less than 520px we have burger menu which works smooth.But for width range from 520px to 768px ,side bar disappears and there is no burger menu.

**Expected Behaviour**

It would be better if we can make burger menu visible for width ranges from 520px to 768px.
**Steps to reproduce it**

1.After opening site ,go for inpect element and issue can be seen as sh

[2020-08-26 13:52] neeraj-2 commented on #3564
the problem is probably due to captcha key i guess.I tried with my localhost key it worked.
![recaptcha](https://user-images.githubusercontent.com/56186425/91311976-534da500-e7d1-11ea-90b3-b05bc40259d0.PNG)
But i was still not able to sign-up :(

[2020-08-29 07:38] padmaja-12 commented on #3590
can i work on this issue?

[2020-08-31 11:50] padmaja-12 commented on #3594
Can i solve it?

[2020-08-31 12:08] neeraj-2 commented on #3594
Sure,Go ahead

[2020-09-05 11:04] Harshchourasiya opened #3596 "Not able to cancel and change language due to overflow in search on smaller screens"
**Actual Behaviour**

Not able to cancel and change language due to overflow in search on smaller screens when user select two or three Options in search box because of this user can not cancel and change language

**Expected Behaviour**

User can select any options and can also use cancel and change language options

**Steps to reproduce it**

1. Head over to https://susi.ai/
2. Inspect the scree

[2020-09-10 18:50] naman360 commented on #3594
@neeraj-2 Can I work on it?

[2020-09-11 06:47] Raunaksingh100 commented on #3561
@elit-altum this bug also shown in my chrome browser

[2020-09-12 17:59] amanprateek123 commented on #3563
@927tanmay I want to contribute in open source. Please assign this issue to me. I checked the website's mobile version( https://susi.ai/).I will try my best in solving the issue

[2020-09-13 05:46] hongquan commented on #3564
There is also error from JS side:

![image](https://user-images.githubusercontent.com/314607/93011283-2c5be500-f5bf-11ea-9b06-06d19198ded1.png)

[2020-09-15 15:12] iamdarshshah opened #3599 "Add logo to the readme & align the header elements"
## Current Readme
![Old](https://user-images.githubusercontent.com/25670841/93228512-30d8f700-f793-11ea-99be-de18b29ee7e9.png)

------

## Proposed Change in Readme
![SUSI](https://user-images.githubusercontent.com/25670841/93228643-57972d80-f793-11ea-898e-4f2324fc08da.png)

------

**Changes:**

- [ ] Added logo to the readme
- [ ] aligned header items to the center

**Would you like to work on t

[2020-09-17 12:56] 927tanmay commented on #3563
@amanprateek123 you can go ahead and solve the issue. But as @elit-altum said it is not required, so it is better to first confirm with him.

[2020-09-24 10:54] AlacritousCreature commented on #3599
hey! I would like to work on this issue. May I?

[2020-09-24 11:28] iamdarshshah commented on #3599
Hey @AlacritousCreature

Thanks for showing interest but the required work for this issue is already been done #3593

[2020-09-24 16:31] AlacritousCreature commented on #3599
oh okay.

[2020-09-25 19:40] #3400 closed

[2020-09-26 14:32] Uyadav207 opened #3603 "Add hyperlinks to Requirements section for error free environment setup"
**Actual Behavior**

* Installation Guide for Node and yarn on different Environment are not provided.

**Expected Behavior**

* Node/yarn installation guide on different platform should be provided. To avoid common error while local setup.

**Steps to reproduce it**

* Node/yarn Installation Guide. To get the system setup for contributions and local installation.

**Why to change?**

- [x] Point

[2020-09-29 11:00] ksraj123 commented on #3590
I think the Hamburger icon and sidebar is implemented for screen width below 520 px but width between 520px to 768px the sidebar disappears and we don't have a hamburger icon as mentioned in issue #3594
This is being fixed in #3600

[2020-09-30 19:50] #3603 closed

[2020-10-01 10:50] #3596 closed

[2020-10-01 11:48] madhur1846 commented on #3584
can i work on this issue?

[2020-10-01 12:47] akshitkr commented on #3591
is this solved?

[2020-10-01 12:58] ShubhamChaudharyy commented on #3584
Hey @madhur1846 the issue is solved you can check the PR #3587

[2020-10-03 06:01] BLasan commented on #3492
@snitin315 Is this still opened?

[2020-10-03 06:21] BLasan commented on #3550
@mariobehling Is this still opened?

[2020-10-04 17:21] Lucifer0x17 commented on #3591
Is this issue open?

[2020-10-06 11:26] ItsNidhaan commented on #3564
Is this issue still open, if yes then can i work on it?

[2020-10-06 17:07] explorigin commented on #3564
I've been wanting to try SUSI for months but can't signup. Just try to create a new account. I can't. I'm using FF 82. I see all the JS errors in the console that @hongquan posted.

[2020-10-07 13:41] iamareebjamal commented on #3564
I recommend to just disable recaptcha as it was implemented without notifying the mobile devs. It doesn't solve any problem on mobile at least and also is causing inconvenience on web. If actions are restricted to verified accounts, the bot problem which captcha service is supposed to solve will automatically be resolved

[2020-10-13 17:46] carrycooldude commented on #3569
Is this open?

[2020-10-15 17:37] yashgagneja commented on #3591
Can I work on this issue?

[2020-10-18 02:13] salhasalman commented on #3591
Shall I work on this issue?

[2020-10-21 21:04] SingingApple commented on #3584
As I can see this issue is still open. Can I work on it?

[2020-10-27 11:40] #3591 closed

[2020-10-27 11:54] #3594 closed

[2020-10-27 11:55] akshatnitd commented on #3590
Duplicate of #3594 .

[2020-10-27 11:55] #3590 closed

[2020-10-27 12:00] #3525 closed

[2020-10-29 08:39] silenteyesoncode commented on #3430
Like to work on this

[2020-10-30 03:37] Dilshaad21 commented on #3430
@silenteyesoncode yeah, please go on.

[2020-10-30 20:11] PratishShrivastava commented on #2567
**Can i take this issue.**

[2020-10-30 20:40] PratishShrivastava commented on #3564
If you have disable recaptcha, So now **Sign up is not working.**

![Screenshot (48)](https://user-images.githubusercontent.com/65657554/97754783-1cbc3f80-1b1e-11eb-8538-6fd3a5598ea9.png)

[2020-10-31 04:51] dhanushkac opened #3607 "Home page slider images are broken"
**Actual Behaviour**

Some slider images are broken

**Expected Behaviour**

Slider images should be displayed without broken links

**Steps to reproduce it**

Go to the homepage and wait until the slider loads

**More Details**
I found that these are the broken links

https://api.susi.ai/cms/getImage.png?image=6513db361b0f140ca808e71751cef8e2/1562865924087_devices
https://api.susi.ai/cms/getImage

[2020-10-31 10:53] PratishShrivastava commented on #3607
Can I work on this issue.

[2020-11-01 11:39] #3584 closed

[2020-11-01 16:45] SingingApple commented on #3578
Pr #3608 fixed this issue!

[2020-11-02 04:49] #3578 closed

[2020-11-02 04:49] #3570 closed

[2020-11-02 23:52] silenteyesoncode commented on #3430
what are you expecting with rating?
@Dilshaad21

[2020-11-03 05:51] #3478 closed

[2020-11-06 08:27] PratishShrivastava commented on #2567
**@tabesin** Did I have to add 94 questions for Susi like Cortana has

[2020-11-06 19:53] Gautam-Arora24 commented on #3607
@dhanushkac The links of the images you provided can't be downloaded. Also I inspect the Image on the website. It also can't be downloaded.

[2020-11-06 19:54] dhanushkac commented on #3607
Yes those are broken. Those are the links available from the inspect. It is the reason not to load images.

[2020-11-06 20:26] Gautam-Arora24 commented on #3607
So can you provide me the links of the image so that I can add them?

[2020-11-07 13:01] dhanushkac commented on #3607
Sorry, I am not from this team. I saw this bug and reported. Someone from the team should attend on this.

[2020-11-07 15:04] Gautam-Arora24 commented on #3607
@mariobehling Kindly provide me the image link so that I can add to  can add to it